    
    html, body{
        padding:0;
        margin:0;
        overflow:hidden;
        background-color:#000;
    }
    
    body{
        background: #000 url(../images/8.jpg) repeat;
    }
    
    .clearfix:after{
        content: ".";
        display:block;
        height:0;
        visibility:hidden;
        clear:both;
    }
    
    body, a, span{
        font-family:arial, sans-serif;
    }
    
    a:hover{
        -webkit-transition: all 0.3s ease-out; 
           -moz-transition: all 0.3s ease-out; 
             -o-transition: all 0.3s ease-out; 
                transition: all 0.3s ease-out; 

    }
    .theme-switcher{
        height:60px;
        width:100%;
        background-color:#111;
        position:fixed;
        z-index:999999;
        overflow:visible;
    }
    
    #iframe{
        padding-top:60px;
        width:100%;
        border:none;
        height:100%;
        overflow-x:hidden;
    }
    
    .switcher-logo{
        margin-left:20px;
        margin-top:0px;
        overflow:hidden;
        width:125px;
        height:57px;
        display:block;
        float:left;
        background:transparent;
        border:none;
        outline:none;
    }
    
    .switcher-logo img{
        display:block;
        background:transparent;
        border:none;
        outline:none;
    }
    
    .switcher-list{
        float:left;
        margin: 0;
        padding: 0;
        list-style: none;
        margin-top:15px;
        margin-left:60px;
    }
    
    .switcher-list li {
        float: left;
        position: relative;
    }
    
    .switcher-list li:first-child{
        border:none;
    }
    
    .switcher-list > li:first-child > a{
        padding-right:20px;
        background-image:url(../img/drop.png);
        background-repeat: no-repeat;
        background-position:93% 4px;
        border-radius:0px;
        margin-bottom:20px;
        width:145px;
        color:#ddd;
        -webkit-border-radius: 4px;
           -moz-border-radius: 4px;
                border-radius: 4px;
    }
    
    .switcher-list a {
        padding: 5px 15px;
        color: #ddd;
        font: bold 12px Arial, Helvetica;
        text-decoration: none;
        text-shadow: 0 1px 0 #000;
    }
    
    .switcher-list li:hover > a {
        color: #fafafa;
    }
    
    .switcher-list ul {
        margin: 0;
        padding:5px 0;
        opacity: 0;
        visibility: hidden;
        position: absolute;
        top: 50px;
        left: 0;
        z-index: 1;    
        background: #111;	
        background: linear-gradient(#222, #000);	
        border-radius: 4px 4px 4px 4px;
        transition: all .2s ease-in-out;
        /*max-height:200px;*/
        /*overflow-y:auto;
        overflow-x:hidden;*/
    }
    
    .switcher-list li:hover > ul {
        opacity: 1;
        visibility: visible;
    }
    
    .switcher-list ul li {
        float: none;
        display: block;
        border: 0;
        width:180px;
    }
    
    .switcher-list ul li:last-child{   
        box-shadow: none;    
    }
    
    .switcher-list ul li.nav-header{
        display: block;
        padding: 10px 0px 5px 20px;
        font-size:12px;
        color:#888;
        font-weight:normal;
        box-shadow: 0 1px 0 #000, 0 2px 0 #444;
        width:160px;
        margin-bottom:10px;
    }
    
    .switcher-list ul a {
        float:left;
        padding: 3px 12px 3px 20px;
        width: 80px;
        display: block;
        font-weight:bold;
        text-shadow:none;
        font-size:11px;
        text-transform: uppercase;
    }
    
    .switcher-list ul li:hover{
        color:#fff;
        background-color:#333;
    }
    
    .switcher-list ul li.active{
        background-color:#555;
        text-shadow:none;
        color:#fff;
    }
    
    .switcher-list ul li.active a:hover{
        cursor:default;
    }
    
    .switcher-list ul li.nav-header:hover{
       background-color: #111;
       color:#888;
    }
    
    .purchase a,
    .switcher-list > li > a{
        display: inline-block;
        margin-bottom: 0;
        font-size: 14px;
        line-height: 20px;
        color: #333333;
        vertical-align: middle;
        cursor: pointer;
        color: #ffffff;
	}
    .btn:hover {
        color: #ffffff;
         background-color: #222222;
        background-position: 0 -15px;
        -webkit-transition: background-position 0.1s linear;
           -moz-transition: background-position 0.1s linear;
             -o-transition: background-position 0.1s linear;
                transition: background-position 0.1s linear;
      }
    
    .purchase a{
        float:right;
        margin-right:30px;
        margin-top:8px;
        height:57px;
    }
    
    
    /*close btn*/
    .switcher-close a{
        float:right;
        width:30px;
        height:30px;
        background:url(../images/close.png) no-repeat;
        display:block;
        margin-right:15px;
        margin-top:15px;
        opacity:0.5;

    }
    
    .switcher-close a:hover{
        opacity:1;
    }
    
    
    /*resolution buttons*/
    .rez-options{
        height:30px;
        float:right;
        margin-right:20px;
        margin-top:15px;
    }
    
    /*hide for non responsive items*/
    .non-responsive .rez-options{
        display:none;
    }
    
    .rez-options a{
        display:block;
        float:left;
        width:30px;
        height:30px;
        opacity:0.7;
        margin-left:5px;
        padding:0 2px;
        -webkit-border-radius: 3px;
           -moz-border-radius: 3px;
                border-radius: 3px;
    }
    
    .rez-options a:first-child{
        margin-left:0;
    }
    
    .rez-options a:hover,
    .rez-options a.active{
        opacity:1;
        background-color:#00c9e6
    }
    
    .rez-options a.active:hover{
        cursor:default;
    }
    
    .desktop{ 
        background:#666 url(../images/desktop.png) no-repeat 50% 0;
    }
    
    .tablet{ 
        background:#666 url(../images/arrow-symbol-icons-for-download.png) no-repeat 50% 0;
    }
    
    .mobile-landscape{ 
        background:#666 url(../images/mobile_landscape.png) no-repeat 50% 0;
    }
    
    .mobile-portrait{ 
        background:#666 url(../images/mobile_portrait.png) no-repeat 50% 0;
    }
    
    .rez-options span{
        display:block;
        float:left;
        color:#ddd;
        font-size:14px;
        font-weight:bold;
        margin-top:5px;
        line-height:20px;
        margin-right:10px;
        text-transform:uppercase;
    }
    
    	.buynow-btn{background:url(../images/buynow-btn.jpg) no-repeat; width:152px; height:41px; display:block; cursor:pointer; border:0; outline:none; display:block; margin-left:45px;}
	.buynow-btn:hover{background:url(../images/buy-now-hov.jpg) no-repeat}


    .label{
        float:left;
        font-size:10px;
        font-family:arial, sans-serif;
        font-weight: bold;
        line-height: 14px;
        color: #ffffff;
        text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25);
        /*white-space: nowrap;*/
        vertical-align: baseline;
        background-color: #999999;
        padding: 1px 4px 2px;
        margin-left:10px;
        margin-top:3px;
        -webkit-border-radius: 3px;
           -moz-border-radius: 3px;
                border-radius: 3px;
        
    }
    
    .label-html{
      background-color: #b94a48;
    }
    
    .label-yellow {
      background-color: #f89406;
    }
    
    .label-plugin{
      background-color: #468847;
    }
    
    .label-wp {
      background-color: #3a87ad;
    }
    
    
    /*tooltip image*/
    img.preview {
        display: none;
        position: absolute;
        z-index:200;
        top: -5px;
        left: 190px;
        background: black;
        padding: 8px;
        border-radius: 4px;
        -moz-border-radius: 4px;
        -webkit-border-radius: 4px;
        -moz-transition: opacity .3s ease-out;
        -webkit-transition: opacity .3s ease-out;
        -o-transition: opacity .3s ease-out;
        transition: opacity .3s ease-out;
        -webkit-box-shadow: 0px 2px 5px rgba(0,0,0,0.8);
                box-shadow: 0px 2px 5px rgba(0,0,0,0.8);
        -moz-opacity: 0;
        -webkit-opacity: 0;
        opacity: 0;

    }
    
    
    /*iPad portrait*/
    /*----------------------------------------------------------------------*/
    @media (min-width: 768px) and (max-width: 979px) {
		
        
    }
    
	
    /*iphone landscape*/
    /*----------------------------------------------------------------------*/
    @media (max-width: 767px) {
        .rez-options{
            display:none;
        }
        
        .switcher-list{
            margin-left:10px;
        }
        
        .purchase a{
            margin-right:0px;
        }
    }

    /*iPhone portrait width*/
    /*----------------------------------------------------------------------*/
    @media (max-width: 480px) {
        .switcher-logo{
            display:none;
        }
        
        .switcher-list{
            margin-left:20px;
        }
    }
	
	