Options +FollowSymLinks
RewriteEngine on


RewriteRule ^contact.html$ index.php?do=contactus
RewriteRule ^site.html$ index.php?do=sitemap
RewriteRule ^aboutus.html$ index.php?do=aboutus
RewriteRule ^policy.html$ index.php?do=privacypolicy
RewriteRule ^terms.html$ index.php?do=termsandcondition
RewriteRule ^faq.html$ index.php?do=faq
RewriteRule ^latestnews.html$ index.php?do=morenews
RewriteRule ^login.html$ index.php?do=login
RewriteRule ^logout.html$ index.php?do=logout

RewriteRule ^register.html$ index.php?do=userregistration
RewriteRule ^forgotpassword.html$ index.php?do=forgetpwd



RewriteRule ^(manuals) - [L]
RewriteRule ^giftproducts.html$ index.php?do=giftproducts
RewriteRule ^(manuals) - [L]
RewriteRule ^girdgiftproducts.html$ index.php?do=girdgiftproducts


RewriteRule ^(manuals) - [L]
RewriteRule ^grid/(.*).html$ index.php?do=girdviewproducts&cat=$1&%{QUERY_STRING}


RewriteRule ^(manuals) - [L]
RewriteRule ^(.*).html$ index.php?do=viewproducts&cat=$1&%{QUERY_STRING}




