/*<meta />*/

p.MyStyle
{
	font-family: Arial;
	font-size: 12pt;
	margin: 0px;
}

img
{
	border: none;
}

a.Popup
{
	
}

p
{
	text-align: justify;
	margin-right: 0px;
	margin-left: 0px;
	line-height: 1.5em;
	font-size: 11pt;
	font-family: sans-serif;
	letter-spacing: 1px;
	word-spacing: 1px;
}

a:hover
{
	font-weight: bold;
	font-style: normal;
	font-family: sans-serif;
	background-color: #f5f5f5;
	font-size: 11pt;
	letter-spacing: 1px;
	word-spacing: 1px;
}

a:visited
{
	font-size: 10pt;
	font-family: sans-serif;
	color: #d2691e;
	letter-spacing: 1px;
	word-spacing: 1px;
}

h1
{
	font-weight: bold;
	font-style: normal;
	text-transform: uppercase;
	margin-top: 0.67em;
	font-family: serif;
	margin-bottom: 0.67em;
	margin-right: 0px;
	margin-left: 0px;
}

h2
{
	font-weight: bold;
	font-style: normal;
	font-family: serif;
	letter-spacing: 1px;
	word-spacing: 1px;
	margin-bottom: 0.75em;
	margin-top: 0.75em;
	margin-right: 0px;
	margin-left: 0px;
}

h3
{
	font-family: serif;
	letter-spacing: 1px;
	word-spacing: 1px;
	margin-bottom: 0.83em;
	margin-top: 0.83em;
	margin-right: 0px;
	margin-left: 0px;
}

li
{
	font-family: sans-serif;
	margin-bottom: 10px;
	margin-top: 10px;
	font-size: 11pt;
	letter-spacing: 1px;
	word-spacing: 1px;
	line-height: 1.5em;
	text-align: justify;
}

dl
{
	font-size: 10pt;
	font-family: sans-serif;
	letter-spacing: 1px;
	word-spacing: 1px;
}

breadcrumbsProxy
{
	font-weight: bold;
	font-style: normal;
	font-size: 10pt;
	color: #800080;
	background-color: #f5fffa;
	font-family: Arial;
	mc-breadcrumbs-prefix: ' ';
	border-bottom-style: double;
	mc-breadcrumbs-divider: ' | ';
}

a:link
{
	font-size: 11pt;
	font-family: sans-serif;
}

a:focus
{
	letter-spacing: 1px;
	word-spacing: 1px;
}

a
{
	font-size: 11pt;
}

pageHeader.EvenPage
{
	
}

pageHeader.FirstPage
{
	
}

pageHeader.OddPage
{
	
}

