@font-face {
 font-family: 'LucidaGrande' ;
 src: url('../lucidagrande.eot');
 src: url('../lucidagrande.eot?#iefix') format('embedded-opentype'), url('../lucidagrande.woff') format('woff'), url('../lucidagrande.ttf') format('truetype'), url('lucidagrande.svg#lucidagrande') format('svg');
 font-weight: normal;
 font-style: normal;

}
body {
	font-family:"Lucida Grande", "Lucida Sans Unicode" !important;
}