<AJDF:output>
* GNU General Public License.

* This file is part of ZeusCart V4

* ZeusCart V4 is free software: you can redistribute it and/or modify
* it under the terms of the GNU General Public License as published by
* the Free Software Foundation, either version 4 of the License, or
* (at your option) any later version.
* 
* ZeusCart V4 is distributed in the hope that it will be useful,
* but WITHOUT ANY WARRANTY; without even the implied warranty of
* MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE. See the
* GNU General Public License for more details.
* 
* You should have received a copy of the GNU General Public License
* along with Foobar. If not, see <http://www.gnu.org/licenses/>.
*
</AJDF:output>
<AJDF:output>include file="header.html"</AJDF:output> 
  <!-- body start here-->
  	<div class="container">
    	<ul class="breadcrumb">
             <li><a href="<AJDF:output>$smarty.session.base_url</AJDF:output>/index.php?do=index">Home</a> <span class="divider">/</span></li>
		
               <AJDF:output>if $smarty.get.brand ne 'all' </AJDF:output> 
		<li><a href="<AJDF:output>$smarty.session.base_url</AJDF:output>/index.php?do=viewbrands&brand=all">Brands</a> <span class="divider">/</span></li>
              <li><AJDF:output>$smarty.get.brand</AJDF:output> <span class="divider">/</span></li>
		<AJDF:output>else</AJDF:output>
		<li>Brands</li>
              <AJDF:output>/if</AJDF:output>

            </ul>
            
        <div class="row-fluid">
        	<div class="span9">
            <div class="title_fnt">
	<AJDF:output>if $smarty.get.brand ne 'all'</AJDF:output>
    	<h1><AJDF:output>$smarty.get.brand</AJDF:output></h1>
	<AJDF:output>else</AJDF:output>
	<h1>All  Brands</h1>
	<AJDF:output>/if</AJDF:output>
	<span class="pull-right"><a href="<AJDF:output>$smarty.session.base_url</AJDF:output>/index.php?do=viewbrands&action=grid&brand=<AJDF:output>$smarty.get.brand</AJDF:output>" class="grid_icn"></a> <a href="<AJDF:output>$smarty.session.base_url</AJDF:output>/index.php?do=viewbrands&brand=<AJDF:output>$smarty.get.brand</AJDF:output>" class="listview_icn"></a></span>
        </div>
           
                <div class="clear"></div>
                
                <AJDF:output>$listviewbrands</AJDF:output>
            
            
        </div>
               <AJDF:output>include file="right.html"</AJDF:output>           	
        </div>
    </div>
  
    <!-- /container -->
   <AJDF:output>include file="footer.html"</AJDF:output>