<AJDF:output>
* GNU General Public License.

* This file is part of ZeusCart V4

* ZeusCart V4 is free software: you can redistribute it and/or modify
* it under the terms of the GNU General Public License as published by
* the Free Software Foundation, either version 4 of the License, or
* (at your option) any later version.
* 
* ZeusCart V4 is distributed in the hope that it will be useful,
* but WITHOUT ANY WARRANTY; without even the implied warranty of
* MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE. See the
* GNU General Public License for more details.
* 
* You should have received a copy of the GNU General Public License
* along with Foobar. If not, see <http://www.gnu.org/licenses/>.
*
</AJDF:output>
<AJDF:output>include file="header.html"</AJDF:output>

 <div id="main">
<div id="left_details">

</div>		
		<div id="middle_details">
  <table width="520">
    <tr>
      <td colspan="6" class="ad_text"><a href="<AJDF:output>$smarty.session.base_url</AJDF:output>/index.php?do=index">Home</a> &gt; <a href="#">Consumer &amp; Durables</a> &gt; <a href="#">Mobiles</a> &gt;</td>
    </tr>
    <tr>
      <td colspan="6" class="head_text"><AJDF:output>$countrecords</AJDF:output></td>
    </tr>
     </td>
    </tr>
    <tr>
      <td width="288" class="ad_text">&nbsp;</td>
      <td width="72" class="ad_text">View as  :</td>
      <td width="19" class="ad_text"><img src="css/default/images/list_view.jpg" width="12" height="13" /></td>
      <td width="45" class="ad_text"><a href="#">List</a></td>
      <td width="18" class="ad_text"><img src="css/default/images/gal_view.jpg" width="12" height="13" /></td>
      <td width="50" class="ad_text"><a href="#">Gallery</a></td>
    </tr>
  </table>
  <div id="product_tbbg">
  <table width="100%" border="0" cellpadding="0" cellspacing="0">
    <tr>
      <td colspan="3" class="product_header"><table width="95%" border="0" align="center" cellpadding="0" cellspacing="0">
        <tr>
          <td width="10%">Show</td>
          <td width="10%"><label>
            <AJDF:output>$disppagesize</AJDF:output>
          </label></td>
          <td width="43%">Per page</td>
          <td width="11%">Sort by </td>
          <td width="20%"><AJDF:output>$sortby</AJDF:output></td>
        </tr>
		
      </table></td>
      </tr>
    <tr>
      <td colspan="2"><AJDF:output>$keywordsearch</AJDF:output>
        <AJDF:output>$narrowsearch</AJDF:output>        <AJDF:output>$pricerangesearch</AJDF:output></td>
	  </tr>
  </table>
</div>
<div id="text">
	    <div align="center"><a href="#">Pre</a> <a href="#">1</a> l 2 l 3 l 4 l 5 l 6 <a href="#">Next</a></div>
	  </div>
</div>
</div>

<div id="footer">
	    <table width="95%" border="0" align="center" cellpadding="0" cellspacing="0">
          <tr>
            <td>&nbsp;</td>
            <td>&nbsp;</td>
            <td>&nbsp;</td>
            <td>&nbsp;</td>
          </tr>
          <tr>
            <td width="52%">&nbsp;</td>
            <td width="7%">&nbsp;</td>
            <td width="16%">&nbsp;</td>
            <td width="25%">&nbsp;</td>
          </tr>
          <tr>
            <td class="btm_text_links"><a href="#">Home</a> | <a href="#">Support</a> | <a href="#">Site Map</a> | <a href="#">Terms And Conditions</a> | <a href="#">Privacy Policy</a></td>
            <td>&nbsp;</td>
            <td>&nbsp;</td>
            <td><img src="css/default/images/bookmark.jpg" width="125" height="16" /></td>
          </tr>
          <tr>
            <td>&nbsp;</td>
            <td>&nbsp;</td>
            <td>&nbsp;</td>
            <td>&nbsp;</td>
          </tr>
          <tr>
            <td class="btm_text_links">All Rights Reserved. Zeuscart.com</td>
            <td>&nbsp;</td>
            <td>&nbsp;</td>
            <td><img src="css/default/images/paypal.jpg" width="240" height="20" /></td>
          </tr>
        </table>
	  </div>


</div>

<AJDF:output>include file="left.html"</AJDF:output>



