<AJDF:output>
* GNU General Public License.

* This file is part of ZeusCart V4

* ZeusCart V4 is free software: you can redistribute it and/or modify
* it under the terms of the GNU General Public License as published by
* the Free Software Foundation, either version 4 of the License, or
* (at your option) any later version.
* 
* ZeusCart V4 is distributed in the hope that it will be useful,
* but WITHOUT ANY WARRANTY; without even the implied warranty of
* MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE. See the
* GNU General Public License for more details.
* 
* You should have received a copy of the GNU General Public License
* along with Foobar. If not, see <http://www.gnu.org/licenses/>.
*
</AJDF:output>
<!--<div class="span3"><span class="hidden-phone"><div id="block_div">
                		<h2>Categories</h2>
                       
	                      <div class="left_menu">
					<AJDF:output>$categorytree</AJDF:output>
					<div class="expand-collapse">
						<a rel="tree" class="nicetree_expand" href="javascript:;">Exapand All</a>&nbsp;&nbsp;&nbsp;|&nbsp;&nbsp;&nbsp;<a rel="tree" class="nicetree_collapse" href="javascript:;">Collapse All</a>
					</div>
				</div>
              </div>
           
</span>

              </div>-->
<div class="span3">
    <div id="block_div"><h2><AJDF:output>php</AJDF:output>  echo Core_CLanguage::_('CATEGORIES'); <AJDF:output>/php</AJDF:output></h2>
        <!--<div id="side">
                <ul class="accordion">
                    <li><a href="sev.html">Item 1</a>
                        <ul class="innermenu">
                            <li><a href="sev.html">Sub 1.1</a>
                                <ul class="innermenu">
                                    <li><a href="sev.html">Sub 1.1.1</a>
                                        <ul class="innermenu">
                                            <li><a href="sev.html">Link 1</a></li>
                                            <li><a href="sev.html">Link 2</a></li>
                                        </ul>
                                    </li>
                                    <li><a href="sev.html">Sub 1.1.2</a>
                                        <ul class="innermenu">
                                            <li><a href="sev.html">Link 3</a></li>
                                            <li><a href="sev.html">Link 4</a></li>
                                        </ul>
                                    </li>
                                </ul>
                            </li>
                            <li><a href="sev.html">Sub 1.2</a>
                                <ul class="innermenu">
                                    <li><a href="sev.html">Link 5</a></li>
                                    <li><a href="sev.html">Link 6</a></li>
                                </ul>
                            </li>
                        </ul>
                    </li>
                    <li>Item 2
                        <ul class="innermenu">
                            <li>Sub 2.1
                                <ul class="innermenu">
                                    <li><a href="sev.html">Link 7</a>

                                    </li>
                                    <li><a href="sev.html">Link 8</a></li>
                                </ul>
                            </li>
                            <li>Sub 2.2
                                <ul class="innermenu">
                                    <li><a href="sev.html">Link 9</a></li>
                                </ul>

                            </li>
                        </ul>
                    </li>
                    <li>Item 3
                        <ul class="innermenu">
                            <li><a href="sev.html">Link 10</a></li>
                            <li><a href="sev.html">Link 11</a></li>
                        </ul>
                    </li>
                </ul>
            </div>-->
	<AJDF:output>$categorytree</AJDF:output>
    </div>
    
      
         <AJDF:output>$relatedproduct</AJDF:output>
    </div>