<AJDF:output>
* GNU General Public License.

* This file is part of ZeusCart V4

* ZeusCart V4 is free software: you can redistribute it and/or modify
* it under the terms of the GNU General Public License as published by
* the Free Software Foundation, either version 4 of the License, or
* (at your option) any later version.
* 
* ZeusCart V4 is distributed in the hope that it will be useful,
* but WITHOUT ANY WARRANTY; without even the implied warranty of
* MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE. See the
* GNU General Public License for more details.
* 
* You should have received a copy of the GNU General Public License
* along with Foobar. If not, see <http://www.gnu.org/licenses/>.
*
</AJDF:output>
<div id="left">
   <AJDF:output>$userLeftMenu</AJDF:output>
   <div style="margin-top:14px" class="leftmenu">
	<table width="100%" border="0" cellspacing="0" cellpadding="0">
                <tr>
                    <td><div class="heading"><span class="headingTXT">Recently Viewed</span></div></td>
                </tr>
                <tr>
                    <td valign="top" class="border1" style="padding:7px">
		    <AJDF:output>$lastviewedproducts</AJDF:output>
                    </td>
                </tr>
                <tr>
                    <td valign="top" class="roundbox1_bottom" ><!--<img src="images/bot.gif" alt="" width="189" height="4" />--> &nbsp;</td>
                </tr>
            </table>
	</div>
</div>