<AJDF:output>
* GNU General Public License.

* This file is part of ZeusCart V2.3.

* ZeusCart V2.3 is free software: you can redistribute it and/or modify
* it under the terms of the GNU General Public License as published by
* the Free Software Foundation, either version 3 of the License, or
* (at your option) any later version.
* 
* ZeusCart V2.3 is distributed in the hope that it will be useful,
* but WITHOUT ANY WARRANTY; without even the implied warranty of
* MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE. See the
* GNU General Public License for more details.
* 
* You should have received a copy of the GNU General Public License
* along with Foobar. If not, see <http://www.gnu.org/licenses/>.
*
</AJDF:output>
<AJDF:output>include file="header.html"</AJDF:output>
<AJDF:output>include file="left.html"</AJDF:output>
<form name="cse" method="post" action="?do=cse&action=savecse">
  <table width="97%" border="0" cellspacing="0" cellpadding="0">
    <tr>
      <td align="left" colspan="3" class="content_title">Comparison Shopping Engine<!--&nbsp;<img src="images/help.gif" onmouseover="ShowHelp('dcse', 'Comparison Shopping Engine', 'Add here')" onmouseout="HideHelp('dcse');">
			<div id="dcse" style="left: 50px; top: 50px;"></div>--></td>
    </tr>
    <tr>
      <td align="left" colspan="2" >&nbsp;</td>
    </tr>
    <tr>
      <td align="left" colspan="2" class=""><AJDF:output>$savecse</AJDF:output></td>
    </tr>
    <tr>
    <tr>
      <td align="left" colspan="2" >&nbsp;</td>
    </tr>
	<tr><td>
	<table width="95%" border="0" cellspacing="0" cellpadding="0" class="content_list_bdr" align="left">
	<tr>
	<td colspan="3" align="left" class="content_list_head" >Comparison Shopping Engine</td></tr>
	<tr><td><table>
	<tr>
    <td align="left" colspan="2" class="" style="padding-left:10px"><AJDF:output>$cse</AJDF:output></td>
    </tr>
    <tr>
      <td colspan="2" align="left"> 
      <img src="images/prlogo-us.gif" alt="price runner" /><br /><br />
      From PriceRunner.com <br />
        <br/><i>What is PriceRunner? <br />
        PriceRunner has been a productive sales generation partner for thousands of partners since 1999 to become one of the leading shopping comparison sites worldwide. The success we bring our long-standing partners comes from a combination of superb user experience and solid sales results. </i> </td>
    </tr>
    <tr>
      <td colspan="2" class="" align="left"><br/><b>If you don't have pricerunner.com affiliate ID please <a href="http://www.pricerunner.com/" target="_blank" style="color:#0033FF">click here</a>. </b></td>
    </tr>
    <tr>
      <td align="left" colspan="2" >&nbsp;</td>
    </tr>
    <tr>
      <td width="30%" align="left" class="content_form"> Pricerunner Affiliate ID</td>
      <td align="left" class=""><input name="regid" id="regid" type="text" size="29"  maxlength="10" value="<AJDF:output> $val.regid </AJDF:output>"/>
        <input name="regidsave" id="regidsave" type="Submit" value="Save" class="all_bttn" />&nbsp;<img src="images/help.gif" onmouseover="ShowHelp('dprid', 'Pricerunner AffiliateID', 'Enter the pricerunner id created using www.pricerunner.com.')" onmouseout="HideHelp('dprid');">
			<div id="dprid" style=" position:fixed"></div>
        <br />
        <font color="#FF0000">
        <AJDF:output> $msg.regid </AJDF:output>
        </font> </td>
    </tr>
	</table></td></tr></table></td></tr>
  </table></form>
<AJDF:output>include file="footer.html"</AJDF:output>
