<AJDF:output>
* GNU General Public License.

* This file is part of ZeusCart V4

* ZeusCart V4 is free software: you can redistribute it and/or modify
* it under the terms of the GNU General Public License as published by
* the Free Software Foundation, either version 4 of the License, or
* (at your option) any later version.
* 
* ZeusCart V4 is distributed in the hope that it will be useful,
* but WITHOUT ANY WARRANTY; without even the implied warranty of
* MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE. See the
* GNU General Public License for more details.
* 
* You should have received a copy of the GNU General Public License
* along with Foobar. If not, see <http://www.gnu.org/licenses/>.
*
</AJDF:output>
<AJDF:output>include file="header.html"</AJDF:output>
<AJDF:output>include file="left.html"</AJDF:output>


<form name="formcontents" action="?do=contactus&action=updatecontactus"  method="post" enctype="multipart/form-data">
<table width="97%" border="0" cellspacing="0" cellpadding="0">
		
          <tr>
            <td colspan="3" align="left" class="content_title">CONTACT US</td>
          </tr>
          <tr>
            <td colspan="3" align="left">&nbsp;</td>
          </tr>
          <tr>
        <td align="center">
        <AJDF:output>$updatecontactusmsg</AJDF:output>
        </td>
        </tr>
<tr>
            <td colspan="3" align="left">&nbsp;</td>
          </tr>
          <tr>
            <td colspan="3" align="left"  class="content_list_txt1">Contact Us Information: 
  <textarea name="contactus" id="contactus" cols="70" rows="10"><AJDF:output>$contactus</AJDF:output></textarea>
<input type="submit" name="submit" id="sub"  value="Update" class="all_bttn" /></td>
              </tr>
 </table>
</form>

<AJDF:output>include file="footer.html"</AJDF:output>

