<AJDF:output>
* GNU General Public License.

* This file is part of ZeusCart V4

* ZeusCart V4 is free software: you can redistribute it and/or modify
* it under the terms of the GNU General Public License as published by
* the Free Software Foundation, either version 4 of the License, or
* (at your option) any later version.
* 
* ZeusCart V4 is distributed in the hope that it will be useful,
* but WITHOUT ANY WARRANTY; without even the implied warranty of
* MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE. See the
* GNU General Public License for more details.
* 
* You should have received a copy of the GNU General Public License
* along with Foobar. If not, see <http://www.gnu.org/licenses/>.
*
</AJDF:output>
 <!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
  <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Zeuscart Admin Control Panel
    <AJDF:output>$pagetitle</AJDF:output>
  </title>
  <link href="assets/css/bootstrap.css" rel="stylesheet">
  <link rel="stylesheet" href="assets/css/bootstrapSwitch.css">
  <link href="assets/css/datepicker.css" rel="stylesheet">
  <link rel="stylesheet" href="assets/css/chosen.css" />
  <link rel="stylesheet" href="assets/css/custom.css" />
  <script type="text/javascript" src="../js/ajax.js"></script>
  <script src="assets/js/jquery.js"></script>
<script src="assets/js/bootstrap.min.js"></script>
</head>
<body>
  <div id="wrap">
   <div class="clsBody">
        
 <AJDF:output> $insmsg </AJDF:output>


			<form  name="sam" action="?do=taxsettings&action=updatetaxsettings" method="post">

	   <div id="selContent" class="clearfix">
             <div class="container">
	  <div class="blocks" style="opacity: 1;">
<div class="clsListing clearfix">
	  	   	  	  
	  <AJDF:output>$taxsettings</AJDF:output>
  </div></div>  </div></div></div></div>
	
</form>
</body>
</html>
