<AJDF:output>include file="header.html"</AJDF:output>
<tr>
       <td>
<table width="97%" border="0" cellspacing="0" cellpadding="0">
          <tr>
            <td align="left" class="content_title">List of Currency</td>
          </tr>
		   <tr>
            <td align="left">&nbsp;</td>
          </tr>
          <tr>
            <td align="center">
			
			<!-------------------tax----------------------->
			
  <table width="97%" border="0" cellspacing="0" cellpadding="0">
    
    <!--<<tr>
      <td align="left">&nbsp;</td>
    </tr>
    tr>
      <td align="left"></td>
    </tr>-->
    <tr>
      <td align="left"><AJDF:output> $insmsg </AJDF:output>
	  
	  	<table cellspacing="0" border="0" width="100%" style="padding-left:780px; padding-bottom:10px; padding-top:5px;">
	  		<tr><td colspan="6" align="right"><a class="add_link" href="?do=showaddcurrency">Add Currency</a></td></tr>
		  </table>
	 </td>
    </tr>
    <tr>
      <td align="center" class="content_form_bdr">
	  
	  	   	  	  
	  <AJDF:output>$taxsettings</AJDF:output>
	   </td>
    </tr>
  </table>

			
			<!-------------------tax----------------------->
			
			</td>
          </tr>

</table>
<AJDF:output>include file="footer.html"</AJDF:output>
