<AJDF:output>
* GNU General Public License.

* This file is part of ZeusCart V4

* ZeusCart V4 is free software: you can redistribute it and/or modify
* it under the terms of the GNU General Public License as published by
* the Free Software Foundation, either version 4 of the License, or
* (at your option) any later version.
* 
* ZeusCart V4 is distributed in the hope that it will be useful,
* but WITHOUT ANY WARRANTY; without even the implied warranty of
* MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE. See the
* GNU General Public License for more details.
* 
* You should have received a copy of the GNU General Public License
* along with Foobar. If not, see <http://www.gnu.org/licenses/>.
*
</AJDF:output>
<AJDF:output>include file="header.html"</AJDF:output>
<script type="text/javascript">

$(document).ready(function (){
  $('#updateInventoryIcon').click(function(){
    $("#updateInventory").submit();
  });
});


</script>

<div class="menu_new clsBtm_20">
  <div class="row-fluid">
    <div class="span9"><h2> Edit Product Inventory
    </h2>
  </div>
  <div class="span3" >

      <ul class="bttn_right">
            <li>
              <a href="javascript:void(0);" class="update_icon"  id="updateInventoryIcon"></a> </li>
              
                   
             </ul>

         </div>

     </div>
 </div>

<form name='update' action='?do=productinventory&action=update' method='post' id="updateInventory"> 
		

			<AJDF:output> $editinventory </AJDF:output></td>
      </form>

<AJDF:output>include file="footer.html"</AJDF:output>
