<AJDF:output>
* GNU General Public License.

* This file is part of ZeusCart V4

* ZeusCart V4 is free software: you can redistribute it and/or modify
* it under the terms of the GNU General Public License as published by
* the Free Software Foundation, either version 4 of the License, or
* (at your option) any later version.
* 
* ZeusCart V4 is distributed in the hope that it will be useful,
* but WITHOUT ANY WARRANTY; without even the implied warranty of
* MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE. See the
* GNU General Public License for more details.
* 
* You should have received a copy of the GNU General Public License
* along with Foobar. If not, see <http://www.gnu.org/licenses/>.
*
</AJDF:output>
<AJDF:output>include file="header.html"</AJDF:output>
<AJDF:output>include file="left.html"</AJDF:output>

<table width="97%" border="0" cellspacing="0" cellpadding="0">
          <tr>
            <td align="left" class="content_title">ERROR OCCURED</td>
          </tr>
		  <tr>
            <td align="left">&nbsp;</td>
          </tr>
          <tr>
            <td align="left"> <form name='update' action='' method='post'>
			<div class="error_msgbox"><AJDF:output>$usererr</AJDF:output></div>
 </form>
</td>
          </tr>
</table>
<AJDF:output>include file="footer.html"</AJDF:output>

