<AJDF:output>
* GNU General Public License.

* This file is part of ZeusCart V4

* ZeusCart V4 is free software: you can redistribute it and/or modify
* it under the terms of the GNU General Public License as published by
* the Free Software Foundation, either version 4 of the License, or
* (at your option) any later version.
* 
* ZeusCart V4 is distributed in the hope that it will be useful,
* but WITHOUT ANY WARRANTY; without even the implied warranty of
* MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE. See the
* GNU General Public License for more details.
* 
* You should have received a copy of the GNU General Public License
* along with Foobar. If not, see <http://www.gnu.org/licenses/>.
*
</AJDF:output>
<div>&nbsp;</div></td>
      </tr>
    </table></td>
  </tr>
  
 <tr>
    <td><table width="100%" border="0" align="center" cellpadding="0" cellspacing="0">
      <tr>
        <td width="91%" align="left" class="footer_style">Powered by <a href="http://www.ajsquare.com/products/ecom/" style="text-decoration:none;" target="_blank">ZeusCart</a></td>
        <td width="9%" align="left" class="footer_style">Version 4.0</td>
      </tr>
    </table></td>
  </tr>
    <tr><td colspan="5" height="35" valign="middle" align="right" class="newsletterTXT">Developed in <a href="http://ajdf.ajsquare.com/" style="text-decoration:none;" target="_blank"><img src="../images/AJDF.gif" alt="AJDF" border="0"/> </a>Framework &nbsp;</td></tr>
  </table>
</body>
</html>

