<AJDF:output> * GNU General Public License.
  
  * This file is part of ZeusCart V4.
  
  * ZeusCart V4 is free software: you can redistribute it and/or modify
  * it under the terms of the GNU General Public License as published by
  * the Free Software Foundation, either version 3 of the License, or
  * (at your option) any later version.
  * 
  * ZeusCart V4 is distributed in the hope that it will be useful,
  * but WITHOUT ANY WARRANTY; without even the implied warranty of
  * MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE. See the
  * GNU General Public License for more details.
  * 
  * You should have received a copy of the GNU General Public License
  * along with Foobar. If not, see
  <http://www.gnu.org/licenses/>
  .
  * </AJDF:output>
  			</div>
		</div>
	</div>
</div>
<footer>
  <div class="container">
    <div class="row">
      <div class="span5">
        <div>Powered by <a href="http://www.zeuscart.com/" style="text-decoration:none;" target="_blank">ZeusCart</a></div>
      </div>
      <div class="span7">
        <p align="right"> Supported By : <a href="http://www.ajsquare.com/" style="text-decoration:none;" target="_blank">AJ Square Inc</a>&nbsp;</p>
      </div>
    </div>
  </div>
</footer>
</body></html>