<AJDF:output>
* GNU General Public License.

* This file is part of ZeusCart V4

* ZeusCart V4 is free software: you can redistribute it and/or modify
* it under the terms of the GNU General Public License as published by
* the Free Software Foundation, either version 4 of the License, or
* (at your option) any later version.
* 
* ZeusCart V4 is distributed in the hope that it will be useful,
* but WITHOUT ANY WARRANTY; without even the implied warranty of
* MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE. See the
* GNU General Public License for more details.
* 
* You should have received a copy of the GNU General Public License
* along with Foobar. If not, see <http://www.gnu.org/licenses/>.
*
</AJDF:output>
<AJDF:output>include file="header.html"</AJDF:output>
<div class="menu_new clsBtm_20">
  <div class="row-fluid">
    <div class="span12"><h2>Google Base
    </h2>
  </div>

  <!-- <div class="span3" >    <ul class="bttn_right">
    <li><a href="javascript:void(0);"  class="update_icon"  id="addSensebutton"></a></li>
  </ul>
</div> -->
</div>
</div>

<AJDF:output>$excel</AJDF:output>
<div class="row-fluid">
  <div class="span12"><h2 class="box_head green_bg">Google Base</h2>
    <div class="toggle_container">
      <div class="clsblock">
        <div class="clearfix">
    <div class="row-fluid">
            <div class="span8">
<p><img src="images/googleBase.gif" name="googlelogo" /></p>
      <p> Google Base is a place where you can easily submit all types of online and offline content which we'll make searchable. Using Base, your content can appear online within Google Product Search and Google Web Search, in addition to Google Base - all for free.</p>
       <p> 
      For More Information <a href="http://base.google.com/base/tour/more.html" >Click Here</a>  </p> 

        <p> <a href="?do=googleproduct&action=export" >Click Here</a> to get the Google Base product data feed in Excel format    </p>
</div>
   <div class="span4">
      <img  style="float:right;" src="images/jobsearch.jpg" name="google" >
   </div></div>
     

</div></div></div></div></div>
<AJDF:output>include file="footer.html"</AJDF:output>
