<AJDF:output>
* GNU General Public License.

* This file is part of ZeusCart V2.3.

* ZeusCart V2.3 is free software: you can redistribute it and/or modify
* it under the terms of the GNU General Public License as published by
* the Free Software Foundation, either version 3 of the License, or
* (at your option) any later version.
* 
* ZeusCart V2.3 is distributed in the hope that it will be useful,
* but WITHOUT ANY WARRANTY; without even the implied warranty of
* MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE. See the
* GNU General Public License for more details.
* 
* You should have received a copy of the GNU General Public License
* along with Foobar. If not, see <http://www.gnu.org/licenses/>.
*
</AJDF:output>
<AJDF:output>include file="header.html"</AJDF:output>
<AJDF:output>include file="left.html"</AJDF:output>
<table width="97%" border="0" cellspacing="0" cellpadding="0">
 
  <tr>
    <td align="left" class="content_title">Google AdSense Settings <!--&nbsp;<img src="images/help.gif" onmouseover="ShowHelp('dchead', 'Google Adsense Settings', 'Add here')" onmouseout="HideHelp('dchead');">
			<div id="dchead" style="left: 50px; top: 50px;"></div>--></td>
  </tr>
  <tr>
    <td align="left">&nbsp;</td>
  </tr>
   <tr>
    <td align="center"><AJDF:output>$gadsensemsg</AJDF:output></td>
  </tr>
  <tr>
    <td align="left">&nbsp;</td>
  </tr>
  <tr>
  
  <td align="left" class=""><form name="site" action="?do=gadsense&action=update" method="post" >
      <table width="100%" border="0" cellspacing="0" cellpadding="0" class="content_list_bdr">
      <tr>
        <td  align="left" class="content_list_head" valign="top">Google AdSense Tracking Script</td>
	  </tr>
	  <tr>	  <td valign="top" align="center"><img src="https://www.google.com/adsense/static/en_US/images/logo_main.gif" width="150" height="58"/></td>
	  <tr>
        <td class="" align="center"  style="padding-top:10px; padding-bottom:10px;" valign="top">
		<AJDF:output>$gadsense</AJDF:output>
        </td>
	  </tr>
	   <tr>
        <td align="center" colspan="0" ><input type="submit" name="button" id="button" value="Save Settings" class="all_bttn"  /></td>
      </tr>
	  </table>
</td> </form>
</tr>
 <tr>
    <td align="left">&nbsp;</td>
  </tr>
<tr><td>
<table width="100%" border="0" cellspacing="0" cellpadding="0" class="content_list_bdr">
      <tr>
        <td  align="left" class="content_list_head" valign="top">Note :</td>
	  </tr>
	  <tr>
        <td align="left" class="content_form" style="padding-left:20px; padding-top:10px;"> <ol>Please Enter Only The Following Banner Sizes<li>Banner (468 X 60)</li> <li>Half Banner (234 X 60)</li> </ol></td>
	 </tr>
     
     
   
</table></td></tr>
</table>
<AJDF:output>include file="footer.html"</AJDF:output>
