<AJDF:output>
* GNU General Public License.

* This file is part of ZeusCart V2.3.

* ZeusCart V2.3 is free software: you can redistribute it and/or modify
* it under the terms of the GNU General Public License as published by
* the Free Software Foundation, either version 3 of the License, or
* (at your option) any later version.
* 
* ZeusCart V2.3 is distributed in the hope that it will be useful,
* but WITHOUT ANY WARRANTY; without even the implied warranty of
* MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE. See the
* GNU General Public License for more details.
* 
* You should have received a copy of the GNU General Public License
* along with Foobar. If not, see <http://www.gnu.org/licenses/>.
*
</AJDF:output>
<AJDF:output>include file="header.html"</AJDF:output>
<AJDF:output>include file="left.html"</AJDF:output>
<table width="97%" border="0" cellspacing="0" cellpadding="0">
 
  <tr>
    <td align="left" class="content_title">Google Analytics Settings<!--&nbsp;<img src="images/help.gif" onmouseover="ShowHelp('dchead', 'Google Analytics Settings', 'Add here')" onmouseout="HideHelp('dchead');">
			<div id="dchead" style="left: 50px; top: 50px;"></div>--> </td>
  </tr>
  <!--<tr>
    <td align="left">&nbsp;</td>
  </tr>-->
   <tr>
    <td align="center" style="padding-top:5px; padding-bottom:5px;"><AJDF:output>$updategooglemsg</AJDF:output></td>
  </tr>
  <!--<tr>
    <td align="left">&nbsp;</td>
  </tr>-->
  <tr>
    <td align="left" class="content_list_bdr"><form name="site" action="?do=ganalytics&action=update" method="post" >
         <table width="100%" border="0" cellspacing="0" cellpadding="0">
         	<tr>
        		<td  align="left" class="content_list_head" valign="top">Google Analytics Tracking Script</td>
			</tr>
			<tr><td valign="top" align="center"><img src="http://www.google.com/analytics/images/logo_ga.gif" width="184" height="47"/></td>
	  <tr>
			<tr>
        		<td class="" align="center"><AJDF:output>$gcode</AJDF:output></td>
            </tr>
            <tr>
            	<td align="center" class="content_list_txt1"><input  type="submit" class="all_bttn"  name="button" id="button" value="Save Settings"  /></td>
            </tr>
        </table>
		
		
      </form></td>
  </tr>
</table>
<AJDF:output>include file="footer.html"</AJDF:output>
