<AJDF:output>
* GNU General Public License.

* This file is part of ZeusCart V2.3.

* ZeusCart V2.3 is free software: you can redistribute it and/or modify
* it under the terms of the GNU General Public License as published by
* the Free Software Foundation, either version 3 of the License, or
* (at your option) any later version.
* 
* ZeusCart V2.3 is distributed in the hope that it will be useful,
* but WITHOUT ANY WARRANTY; without even the implied warranty of
* MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE. See the
* GNU General Public License for more details.
* 
* You should have received a copy of the GNU General Public License
* along with Foobar. If not, see <http://www.gnu.org/licenses/>.
*
</AJDF:output>
<AJDF:output>include file="header.html"</AJDF:output>
<AJDF:output>include file="left.html"</AJDF:output>
<table width="97%" border="0" cellspacing="0" cellpadding="">
  <tr>
    <td colspan="5" align="left" class="content_title">Google Base</td>
  </tr>
  <tr>
    <td colspan="3" align="left">&nbsp;</td>
  </tr>
  <tr>
    <td colspan="3" align="left"><AJDF:output>$excel</AJDF:output></td>
  </tr>
  <tr>
    <td colspan="3" align="left">&nbsp;</td>
  </tr>
  <tr><td>
   <table cellpadding='8' cellspacing='0' border='0'  class='content_list_bdr' width='100%'>
  <tr><td  class='content_list_head'>Google Base</td></tr>
  <tr><td>
  <table>
  <tr>
    <td colspan="3" align="left" valign="top"><img src="images/googleBase.gif" name="googlelogo" />
      <p> Google Base is a place where you can easily submit all types of online and offline content which we'll make searchable. Using Base, your content can appear online within Google Product Search and Google Web Search, in addition to Google Base - all for free.</p>
      <br/>
      For More Information <a href="http://base.google.com/base/tour/more.html" >Click Here</a></td>
    <td><img src="images/jobsearch.jpg" name="google" ></td>
  </tr>
  <tr>
    <td colspan="3" align="left">&nbsp;</td>
  </tr>
  <tr>
    <td class="" width="35%" colspan="0" align="left"><a href="?do=googleproduct&action=export" >Click Here</a> to get the Google Base product data feed in Excel format </td>
  </tr>
 </table></td></tr>
</table></td></tr>
</table>
<AJDF:output>include file="footer.html"</AJDF:output>
