<AJDF:output>
* GNU General Public License.

* This file is part of ZeusCart V4

* ZeusCart V4 is free software: you can redistribute it and/or modify
* it under the terms of the GNU General Public License as published by
* the Free Software Foundation, either version 4 of the License, or
* (at your option) any later version.
* 
* ZeusCart V4 is distributed in the hope that it will be useful,
* but WITHOUT ANY WARRANTY; without even the implied warranty of
* MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE. See the
* GNU General Public License for more details.
* 
* You should have received a copy of the GNU General Public License
* along with Foobar. If not, see <http://www.gnu.org/licenses/>.
*
</AJDF:output>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>Untitled Document</title>
</head>

<body>
<form name="frm" action="?do=headersettings&action=add" method="post" >
<table>
	<tr>
    <td>
    Link Name:
    </td>
		<td>
        <input type="text" name="linkname" cols="45" rows="4" id="linkname" ><?php if(get_magic_quotes_gpc())
					echo stripslashes($_POST['linkname']);
					else
					echo $_POST['linkname'];?></input></td>
                    
		</td>
	</tr>
    <tr>
    <td>
    Link Page:
    </td>
		<td>
        <input type="text" name="linkurl" />
        </td>
    </tr>   
    
    <tr>
    <td>
    <input type="submit" name="submit" class="all_bttn"  value="Add"/>
    </td>

    </tr> 
    <tr><td>
    <?php print_r($output['showfooter']) ?>
   <!-- <AJDF:output> $showfooter </AJDF:output> -->
    </td></tr>
</table>
</form>
</body>
</html>
