<AJDF:output>
* GNU General Public License.

* This file is part of ZeusCart V2.3.

* ZeusCart V2.3 is free software: you can redistribute it and/or modify
* it under the terms of the GNU General Public License as published by
* the Free Software Foundation, either version 3 of the License, or
* (at your option) any later version.
* 
* ZeusCart V2.3 is distributed in the hope that it will be useful,
* but WITHOUT ANY WARRANTY; without even the implied warranty of
* MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE. See the
* GNU General Public License for more details.
* 
* You should have received a copy of the GNU General Public License
* along with Foobar. If not, see <http://www.gnu.org/licenses/>.
*
</AJDF:output>
<AJDF:output>include file="header.html"</AJDF:output>
<AJDF:output>include file="left.html"</AJDF:output>
<form name="fm" method="post" action="?do=bulkupload&action=imagesbulkupload" enctype="multipart/form-data">
<table width="97%" border="0" cellspacing="0" cellpadding="0">
			<tr>
            <td align="left"><AJDF:output>$createpagemsg</AJDF:output>
            <AJDF:output>$deletepage</AJDF:output></td>
          </tr>
          <tr>
            <td align="left" class="content_title">Images Bulk Upload</td>
          </tr>
		  <tr>
            <td align="left">&nbsp;</td>
          </tr>
          <tr>
            <td align="left"><AJDF:output>$messages</AJDF:output>&nbsp;</td>
          </tr>
          <tr>
            <td align="left" class="" width="100%"><table width="100%" border="0" class="content_list_bdr" cellspacing="0" cellpadding="0">
			<tr>
        <td  align="left" class="content_list_head" colspan="2" valign="top">Images Bulk Upload</td>
	  </tr>
              <tr>
                <td width="20%" align="left" class="content_form">Images TSV File</td>
                <td width="66%" class="content_form"><input type="file" name="image_file" id="image_file" value=""/> &nbsp;<img src="images/help.gif" onmouseover="ShowHelp('dbulkup1', 'Upload TSV', 'Upload images information with Tab Separated Values(TSV) format.')" onmouseout="HideHelp('dbulkup1');">
			<div id="dbulkup1" style=" position:fixed"></div>
            <span class="errmsg"><strong></strong></span></td>
              </tr>
			  <tr>
                <td align="left" class="content_form" valign="top">Sample Images TSV File</td>
                <td width="66%" class="content_form"><a href="?do=bulkupload&action=downloadimagessample"><img src="images/ico_bulk_doc.png" name="getdoc" id="getdoc" alt="Click Here" border="0"/></a>&nbsp;<img src="images/help.gif" onmouseover="ShowHelp('dbulkup2', 'Download Sample TSV', 'Click the image to download sample Tab Separated Values(TSV) file for image.')" onmouseout="HideHelp('dbulkup2');">
			<div id="dbulkup2" style="left: 50px; top: 50px;"></div></td>
              </tr>
             
        	  
			  <tr>
                <td align="center" class="content_form" colspan="2"><input type="submit" name="button" id="button" value="Upload" class="all_bttn"  /></td>
              </tr>
			  </table>
      </td>
      </tr>
	  <tr>
            <td align="left">&nbsp;</td>
          </tr>
	  <tr>
            <td align="left" class="" width="100%"><table width="100%" border="0" class="content_list_bdr" cellspacing="0" cellpadding="0">
			<tr>
        <td  align="left" class="content_list_head" colspan="2" valign="top">Note : To Upload The Images TSV File</td>
	  </tr>
			   <tr>
                <td align="left" class="content_form" colspan="2" >
          				<ol> 
					<li>Click on the Sample images TSV file to download the zip</li>
					<li>Extract the zip file.</li>
					<li>There are two tsv files in the zip archive.</li>
					<li>Open the productid.tsv in a spreadsheet application (Ex: Excel) to get the product reference. ie to which product I need to upload the images.</li>
					<li>Open the images.tsv in a spreadsheet application </li>
					<li>Don't Modify Or Delete The First Line Of Images TSV File</li>
					<li>Delete the Dummy Image Details From The Second Line Of Images TSV File</li>
					<li>Now copy all of your images into single folder.</li>
					<li>Put a Unique name for the folder.</li>
					<li>Then upload the folder to your online http://www.yourdomainname.com/images/,  through any one of the FTP application.</li>
					<li>Then fill up the images.tsv file as follows</li>
					<li>Enter the <b>Product Ids In the First Column</b> . Refer the  Product Id TSV File</li>
                    <li>Enter the <b>Image Url Inside
                      <!--uploadedbulkimages Folder-->
                      In the Second Column</b> Correctly (images/UploadedImageFolderName/imagefilename)</li>
                    <li>Enter the <b>Image Type Flag In the Third Column <font color="#000066">( main For Main Image in the detail page &amp; sub ForSub Images in the more images link)</font></b> Correctly </li>
                    <li>Finally upload the images.tsv file with data. This will merge the products and images. Remember that mentioning thd product id in the images.tsv file is vital.</li>
                  </ol>
   				  
				</td>
              </tr>
			   <tr>
			     <td align="left" class="content_form" colspan="2" >&nbsp;</td>
		      </tr>
    </table></td></tr>
      </table>
    </form>
<AJDF:output>include file="footer.html"</AJDF:output>