<AJDF:output>
* GNU General Public License.

* This file is part of ZeusCart V2.3.

* ZeusCart V2.3 is free software: you can redistribute it and/or modify
* it under the terms of the GNU General Public License as published by
* the Free Software Foundation, either version 3 of the License, or
* (at your option) any later version.
* 
* ZeusCart V2.3 is distributed in the hope that it will be useful,
* but WITHOUT ANY WARRANTY; without even the implied warranty of
* MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE. See the
* GNU General Public License for more details.
* 
* You should have received a copy of the GNU General Public License
* along with Foobar. If not, see <http://www.gnu.org/licenses/>.
*
</AJDF:output>
<tr> 
  <td width="25%" align="left" valign="top" class="content_right_bdr" id="left_collap12_open"><table width="215" border="0" cellspacing="0" cellpadding="0">
          <tr>
            <td width="215" align="left" class="content_title">Site Statistics </td>
          </tr>
          
          <tr>
            <td>&nbsp;</td>
          </tr>
          <tr>
            <td><table width="215" border="0" cellspacing="0" cellpadding="0">
              <tr>
                <td colspan="2"><img src="images/left_stat_top.gif" alt="" width="215" height="4" /></td>
              </tr>
              <tr>
                <td width="50" align="center" class="content_left_bg"><img src="images/ico_orders.jpg" alt="" width="30" height="34" /></td>
                <td width="165" align="left" class="content_left_bg"><span class="site_statistics_txt1">ORDERS</span></td>
              </tr>
              <tr>
                <td colspan="2" align="center" class="content_left_bdr"><table width="100%" border="0" cellspacing="0" cellpadding="0">
                    <tr>
                      <td width="55%" align="left" class="site_stat_txt1">Current Month</td>
                      <td width="5%" align="left" class="site_stat_txt2">:</td>
                      <td width="40%" align="left" class="site_stat_txt3"><AJDF:output>$monthlyorders</AJDF:output></td>
                    </tr>
                    <tr>
                      <td align="left" class="site_stat_txt1">Previous Month</td>
                      <td align="left" class="site_stat_txt2">:</td>
                      <td align="left" class="site_stat_txt3"><AJDF:output>$previousmonthorders</AJDF:output></td>
                    </tr>
					<tr>
                      <td align="left" class="site_stat_txt1">Pending Orders </td>
                      <td align="left" class="site_stat_txt2">:</td>
                      <td align="left" class="site_stat_txt3"><AJDF:output>$pendingorders</AJDF:output></td>
                    </tr>
                   <tr>
                      <td align="left" class="site_stat_txt1">Processing Orders </td>
                      <td align="left" class="site_stat_txt2">:</td>
                      <td align="left" class="site_stat_txt3"><AJDF:output>$processingorders</AJDF:output></td>
                    </tr>
                    <tr>
                      <td align="left" class="site_stat_txt1">Delivered Orders </td>
                      <td align="left" class="site_stat_txt2">:</td>
                      <td align="left" class="site_stat_txt3"><AJDF:output>$deliveredorders</AJDF:output></td>
                    </tr>                 
                    <tr>
                      <td align="left" class="site_stat_txt1">Total Orders</td>
                      <td align="left" class="site_stat_txt2">:</td>
                      <td align="left" class="site_stat_txt3"><AJDF:output>$totalorders</AJDF:output></td>
                    </tr>
                </table></td>
              </tr>
              <tr>
                <td colspan="2"><img src="images/left_stat_bot.gif" alt="" width="215" height="4" /></td>
              </tr>
            </table></td>
          </tr>
          <tr>
            <td>&nbsp;</td>
          </tr>
          <tr>
            <td><table width="215" border="0" cellspacing="0" cellpadding="0">
              <tr>
                <td colspan="2"><img src="images/left_stat_top.gif" alt="" width="215" height="4" /></td>
              </tr>
              <tr>
                <td width="50" align="center" class="content_left_bg"><img src="images/ico_income.jpg" alt="" width="30" height="34" /></td>
                <td width="165" align="left" class="content_left_bg"><span class="site_statistics_txt1">SALES</span></td>
              </tr>
              <tr>
                <td colspan="2" align="center" class="content_left_bdr"><table width="100%" border="0" cellspacing="0" cellpadding="0">
                    <tr>
                      <td width="55%" align="left" class="site_stat_txt1">Current Month</td>
                      <td width="5%" align="left" class="site_stat_txt2">:</td>
                      <td width="40%" align="left" class="site_stat_txt3"><AJDF:output>$currency_type</AJDF:output>&nbsp;<AJDF:output>$currentmonthincome</AJDF:output></td>
                    </tr>
                    <tr>
                      <td align="left" class="site_stat_txt1">Previous Month</td>
                      <td align="left" class="site_stat_txt2">:</td>
                      <td align="left" class="site_stat_txt3"><AJDF:output>$currency_type</AJDF:output>&nbsp;<AJDF:output>$previousmonthincome</AJDF:output></td>
                    </tr>
                    <tr>
                      <td align="left" class="site_stat_txt1">Total Sales</td>
                      <td align="left" class="site_stat_txt2">:</td>
                      <td align="left" class="site_stat_txt3"><AJDF:output>$currency_type</AJDF:output>&nbsp;<AJDF:output>$totalincome</AJDF:output></td>
                    </tr>
                </table></td>
              </tr>
              <tr>
                <td colspan="2"><img src="images/left_stat_bot.gif" alt="" width="215" height="4" /></td>
              </tr>
            </table></td>
          </tr>
          <tr>
            <td>&nbsp;</td>
          </tr>
          
          <tr>
            <td><table width="215" border="0" cellspacing="0" cellpadding="0">
              <tr>
                <td colspan="2"><img src="images/left_stat_top.gif" alt="" width="215" height="4" /></td>
              </tr>
              <tr>
                <td width="50" align="center" class="content_left_bg"><img src="images/ico_products.jpg" alt="" width="30" height="34" /></td>
                <td width="165" align="left" class="content_left_bg"><span class="site_statistics_txt1">PRODUCTS</span></td>
              </tr>
              <tr>
                <td colspan="2" align="center" class="content_left_bdr"><table width="100%" border="0" cellspacing="0" cellpadding="0">
                    <tr>
                      <td width="55%" align="left" class="site_stat_txt1">Enabled</td>
                      <td width="5%" align="left" class="site_stat_txt2">:</td>
                      <td width="40%" align="left" class="site_stat_txt3"><AJDF:output>$enabledproducts</AJDF:output></td>
                    </tr>
                    <tr>
                      <td align="left" class="site_stat_txt1">Disabled</td>
                      <td align="left" class="site_stat_txt2">:</td>
                      <td align="left" class="site_stat_txt3"><AJDF:output>$disabledproducts</AJDF:output></td>
                    </tr>
                    <tr>
                      <td align="left" class="site_stat_txt1">Total Products</td>
                      <td align="left" class="site_stat_txt2">:</td>
                      <td align="left" class="site_stat_txt3"><AJDF:output>$totalproducts</AJDF:output></td>
                    </tr>
                </table></td>
              </tr>
              <tr>
                <td colspan="2"><img src="images/left_stat_bot.gif" alt="" width="215" height="4" /></td>
              </tr>
            </table></td>
          </tr>
          <tr>
            <td>&nbsp;</td>
          </tr>
          <tr>
            <td><table width="215" border="0" cellspacing="0" cellpadding="0">
              <tr>
                <td colspan="2"><img src="images/left_stat_top.gif" alt="" width="215" height="4" /></td>
              </tr>
              <tr>
                <td width="50" align="center" class="content_left_bg"><img src="images/ico_pro_quantity.jpg" alt="" width="30" height="34" /></td>
                <td width="165" align="left" class="content_left_bg"><span class="site_statistics_txt1">PRODUCT INVENTORY </span></td>
              </tr>
              <tr>
                <td colspan="2" align="center" class="content_left_bdr"><table width="100%" border="0" cellspacing="0" cellpadding="0">
                    <tr>
                      <td width="55%" align="left" class="site_stat_txt1">No of Product in Low Stock</td>
                      <td width="5%" align="left" class="site_stat_txt2">:</td>
                      <td width="40%" align="left" class="site_stat_txt3"><AJDF:output>$lowstock</AJDF:output></td>
                    </tr>
                </table></td>
              </tr>
              <tr>
                <td colspan="2"><img src="images/left_stat_bot.gif" alt="" width="215" height="4" /></td>
              </tr>
            </table></td>
          </tr>
          <tr>
            <td>&nbsp;</td>
          </tr>
          <tr>
            <td><table width="215" border="0" cellspacing="0" cellpadding="0">
              <tr>
                <td colspan="2"><img src="images/left_stat_top.gif" alt="" width="215" height="4" /></td>
              </tr>
              <tr>
                <td width="50" align="center" class="content_left_bg"><img src="images/ico_customers.jpg" alt="" width="30" height="34" /></td>
                <td width="165" align="left" class="content_left_bg"><span class="site_statistics_txt1">CUSTOMERS</span></td>
              </tr>
              <tr>
                <td colspan="2" align="center" class="content_left_bdr"><table width="100%" border="0" cellspacing="0" cellpadding="0">
                    <tr>
                      <td width="55%" align="left" class="site_stat_txt1">Current Month</td>
                      <td width="5%" align="left" class="site_stat_txt2">:</td>
                      <td width="40%" align="left" class="site_stat_txt3"><AJDF:output>$currentmonthuser</AJDF:output></td>
                    </tr>
                    <tr>
                      <td align="left" class="site_stat_txt1">Previous Month</td>
                      <td align="left" class="site_stat_txt2">:</td>
                      <td align="left" class="site_stat_txt3"><AJDF:output>$previousmonthuser</AJDF:output></td>
                    </tr>
                    <tr>
                      <td align="left" class="site_stat_txt1">Total Customers</td>
                      <td align="left" class="site_stat_txt2">:</td>
                      <td align="left" class="site_stat_txt3"><AJDF:output>$totalusers</AJDF:output></td>
                    </tr>
                </table></td>
              </tr>
              <tr>
                <td colspan="2"><img src="images/left_stat_bot.gif" alt="" width="215" height="4" /></td>
              </tr>
            </table></td>
          </tr>
          <tr>
            <td>&nbsp;</td>
          </tr>
          
          
        </table></td>
  </td>
  <td width="75%" align="right" valign="top">
