<AJDF:output>
* GNU General Public License.

* This file is part of ZeusCart V4

* ZeusCart V4 is free software: you can redistribute it and/or modify
* it under the terms of the GNU General Public License as published by
* the Free Software Foundation, either version 4 of the License, or
* (at your option) any later version.
* 
* ZeusCart V4 is distributed in the hope that it will be useful,
* but WITHOUT ANY WARRANTY; without even the implied warranty of
* MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE. See the
* GNU General Public License for more details.
* 
* You should have received a copy of the GNU General Public License
* along with Foobar. If not, see <http://www.gnu.org/licenses/>.
*
</AJDF:output>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>Zeuscart Admin Control Panel</title>
<link href="assets/css/admin_style.css" rel="stylesheet" type="text/css" />
</head>

<body>

<table width="1000" border="0" align="center" cellpadding="0" cellspacing="0" class="main_table">
  <tr>
    <td><table width="100%" border="0" cellspacing="0" cellpadding="0">
      <tr>
        <td width="49%" class="header_bg"><img src="images/logo.gif" alt="Zeuscart Logo" width="200" height="77" /></td>
        <td width="51%" align="right" valign="top" class="header_bg">&nbsp;</td>
      </tr>
      
    </table></td>
  </tr>
  <tr>
    <td align="center" valign="middle" class="content_part" style="border-top:1px solid #999999; padding-top:30px;">
    
    <table width="35%" border="0" cellspacing="0" cellpadding="0">
      
      <tr>
        <td colspan="2" align="left" valign="top"><img src="images/admin_txt.gif" alt="" width="220" height="30" /></td>
      </tr>
      <tr>
        <td colspan="2" valign="top" style="border-top:3px solid #CCCCCC;">&nbsp;</td>
      </tr>
      <tr>
        <td colspan="2" align="left" valign="top" style="color:#999999; padding-left:12px;">Please Enter Your User Name and Password</td>
      </tr>
      <tr>
        <td colspan="2" valign="top">&nbsp;</td>
      </tr>
      <tr>
        <td colspan="2" align="left" valign="top">
        <AJDF:output> $logoutmsg </AJDF:output>

	 <AJDF:output>if  $msg.username neq ''</AJDF:output>
        <div class="error_msgbox" style="width:85%">
        	<AJDF:output> $msg.username </AJDF:output>
            
        </div>
        <AJDF:output>/if</AJDF:output>
        
        </td>
      </tr><tr><td colspan="2" align="right" valign="top">&nbsp;</td></tr>
      <form name="frmlogin" action="?do=adminlogin&action=validatelogin" method="post" >
      <tr>
        <td width="35%" align="right" valign="top">User Name:</td>
        <td width="65%" align="left" valign="top" style="padding-left:10px;"><input name="username" type="text" class="login_txtbox" id="textfield" value="<AJDF:output>$val.username</AJDF:output>"  /></td>
      </tr>
      <!--<tr>
        <td align="right" valign="top"></td>
        <td align="left" valign="top" style="padding-left:10px;"><font color="#FF0000"><AJDF:output>$msg.username</AJDF:output></font></td>
      </tr>-->
      <tr>
        <td colspan="2" align="right" valign="top">&nbsp;</td>
      </tr>
      <tr>
        <td align="right" valign="top">Password:</td>
        <td align="left" valign="top" style="padding-left:10px;"><input name="userpwd" type="password" class="login_txtbox" id="textfield2" value="<AJDF:output>$val.userpwd</AJDF:output>" /></td>
      </tr>
     <!-- <tr>
        <td align="right" valign="top"></td>
        <td align="left" valign="top" style="padding-left:10px;"><font color="#FF0000"><AJDF:output> $msg.userpwd </AJDF:output></font> </td>
      </tr>-->
    <tr>
        <td colspan="2" valign="top">&nbsp;</td>
        </tr>
      <tr>
        <td valign="top">&nbsp;</td>
        <td align="left" valign="top" style="padding-left:10px;"><input name="button" type="submit" id="button" value="Login" class="all_bttn" />
        &nbsp;&nbsp;&nbsp;<a href="?do=adminlogin&action=showpage" class="forgot_link">Forgot Password?</a></td>
      </tr>
      <!-- <tr>
                  <td><font color="#FF0000"><AJDF:output> $msg.username </AJDF:output></font></td>
                  <td><font color="#FF0000"><AJDF:output> $msg.password </AJDF:output></font></td>
                </tr>-->
      
      </form>
      <tr>
        <td colspan="2" valign="top" style="border-bottom:1px solid #CCCCCC;">&nbsp;</td>
      </tr>
      <tr>
        <td colspan="2" valign="top">&nbsp;</td>
      </tr>
      <tr>
        <td colspan="2" valign="top">&nbsp;</td>
      </tr>
      <tr>
        <td colspan="2" valign="top">&nbsp;</td>
      </tr>
    </table></td>
  </tr>
  <tr>
    <td><table width="100%" border="0" align="center" cellpadding="0" cellspacing="0">
      <tr>
        <td width="50%" align="left" class="footer_style">Powered by <a href="http://www.zeuscart.com/" style="text-decoration:none;" target="_blank">ZeusCart</a></td>
        <td width="50%" align="right" class="footer_style"> Supported By : <a href="http://www.ajsquare.com/" style="text-decoration:none;" target="_blank">AJ Square Inc</a>&nbsp;</td>
      </tr>
    </table></td>
  </tr>
</table>

</body>
</html>