<AJDF:output>
* GNU General Public License.

* This file is part of ZeusCart V4

* ZeusCart V4 is free software: you can redistribute it and/or modify
* it under the terms of the GNU General Public License as published by
* the Free Software Foundation, either version 4 of the License, or
* (at your option) any later version.
* 
* ZeusCart V4 is distributed in the hope that it will be useful,
* but WITHOUT ANY WARRANTY; without even the implied warranty of
* MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE. See the
* GNU General Public License for more details.
* 
* You should have received a copy of the GNU General Public License
* along with Foobar. If not, see <http://www.gnu.org/licenses/>.
*
</AJDF:output>
      <tr>
        <td width="25%" align="left" valign="top" class="content_right_bdr" id="left_collap12_open"><AJDF:output>$statisticsArea</AJDF:output></td>
        <td width="75%" align="right" valign="top"><AJDF:output>include('templates/showmaincategory.html')</AJDF:output></td>
      </tr>
    </table></td>
  </tr>
  <tr>
    <td>&nbsp;</td>
  </tr>
  <tr>
    <td align="right">Powered By <a href="www.zeuscart.com">www.zeuscart.com</a></td>
  </tr>
</table>
</body>
</html>
