<AJDF:output>
* GNU General Public License.

* This file is part of ZeusCart V4

* ZeusCart V4 is free software: you can redistribute it and/or modify
* it under the terms of the GNU General Public License as published by
* the Free Software Foundation, either version 4 of the License, or
* (at your option) any later version.
* 
* ZeusCart V4 is distributed in the hope that it will be useful,
* but WITHOUT ANY WARRANTY; without even the implied warranty of
* MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE. See the
* GNU General Public License for more details.
* 
* You should have received a copy of the GNU General Public License
* along with Foobar. If not, see <http://www.gnu.org/licenses/>.
*
</AJDF:output>
<AJDF:output>include file="header.html"</AJDF:output>
<AJDF:output>include file="left.html"</AJDF:output>
<form name="frmcontent" method="post" action="" enctype="multipart/form-data">
  <table width="97%" border="0" cellspacing="0" cellpadding="0">
    <tr>
      <td colspan="3" align="left" class="content_title">Most Searched Keywords <!--&nbsp;<img src="images/help.gif" onmouseover="ShowHelp('dmsk', 'Most Searched Keywords', 'Most searched keyword in your site')" onmouseout="HideHelp('dmsk');">
			<div id="dmsk" style="left: 50px; top: 50px;"></div>--></td>
    </tr>
   
    <tr>
      <td align="left" style="padding-top:5px; padding-bottom:5px;"><AJDF:output>$showcontent</AJDF:output>
      </td>
    </tr>
  </table>
</form>
<AJDF:output>include file="footer.html"</AJDF:output>

</body></html>