<AJDF:output>
* GNU General Public License.

* This file is part of ZeusCart V2.3.

* ZeusCart V2.3 is free software: you can redistribute it and/or modify
* it under the terms of the GNU General Public License as published by
* the Free Software Foundation, either version 3 of the License, or
* (at your option) any later version.
* 
* ZeusCart V2.3 is distributed in the hope that it will be useful,
* but WITHOUT ANY WARRANTY; without even the implied warranty of
* MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE. See the
* GNU General Public License for more details.
* 
* You should have received a copy of the GNU General Public License
* along with Foobar. If not, see <http://www.gnu.org/licenses/>.
*
</AJDF:output>
<AJDF:output>include file="header.html"</AJDF:output>
<AJDF:output>include file="left.html"</AJDF:output>
<form name="frmcontent" method="post" enctype="multipart/form-data">
<table width="97%" border="0" cellspacing="0" cellpadding="0">
		
          <tr>
            <td colspan="3" align="left" class="content_title">News List</td>
          </tr>
          <!--<tr>
            <td colspan="3" align="left">&nbsp;</td>
          </tr>-->
          <tr><td></td>
			  <td class="" align="right" style="padding-top:10px; padding-left:400px;"><a href="?do=news"  class="add_link" >Create News</a>
			   <td class="" align="right" style="padding-top:10px;"><a href="#" onclick="deletenews()"  class="del_link" >Delete News</a>
			  </td>
		  </tr>
           <!--<tr>
            <td colspan="3" align="left">&nbsp;</td>
          </tr>-->
           <tr>
            <td colspan="3" align="left" style="padding-top:5px; padding-bottom:5px;"><AJDF:output>$updatemsg</AJDF:output> 
            <AJDF:output>$addnewsmsg</AJDF:output> 
            <AJDF:output>$deletemsg</AJDF:output> 
            <AJDF:output>$sendmsg</AJDF:output> 
            </td>
          </tr>
          <!--<tr>
            <td colspan="3" align="left">&nbsp;</td>
          </tr>-->
          <tr>
            <td colspan="3" align="left">
<AJDF:output>$shownews</AJDF:output> 
<!--</div>
<div align="center" style="color:red"><strong><AJDF:output>$msg</AJDF:output></strong>
</div>
</div>
<div align="center" style="color:red"><strong><AJDF:output>$msg</AJDF:output></strong>
</div>-->
</td>
</table>
</form>
<AJDF:output>include file="footer.html"</AJDF:output>
<script type="text/javascript" language="javascript">
function  deletenews()
{
	
	var total=""
	for(var i=0; i < document.frmcontent.deletenews.length; i++)
	{
		if(document.frmcontent.deletenews[i].checked)
		total +=total + 1 
	}
	if(total==0)
	{
	alert("Select Atleast One News to Delete");
	}
	else
	{
	 	if(confirm('Are You Sure Want to Delete'))
		{
		document.frmcontent.action='?do=news&action=delete';
		document.frmcontent.submit();		
		}
	}     

}

function view(id)
{
	window.location= "?do=news&action=disp&id="+id;
}

</script>