<AJDF:output>
* GNU General Public License.

* This file is part of ZeusCart V4

* ZeusCart V4 is free software: you can redistribute it and/or modify
* it under the terms of the GNU General Public License as published by
* the Free Software Foundation, either version 4 of the License, or
* (at your option) any later version.
* 
* ZeusCart V4 is distributed in the hope that it will be useful,
* but WITHOUT ANY WARRANTY; without even the implied warranty of
* MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE. See the
* GNU General Public License for more details.
* 
* You should have received a copy of the GNU General Public License
* along with Foobar. If not, see <http://www.gnu.org/licenses/>.
*
</AJDF:output>
<AJDF:output>include file="header.html"</AJDF:output>
   
   <AJDF:output>$product</AJDF:output>
   <AJDF:output>$attributes</AJDF:output>
<table cellpadding="0" cellspacing="0" border="0">
<tr><td>
<h3>Related Products</h3></td><td class="">&nbsp;&nbsp;&nbsp;<a href="?do=addcrossproduct" >Add Cross Products To This Product</a>

</td></tr>
<tr>
<AJDF:output>$relprod</AJDF:output>

</tr>

</table>  

 <script type="text/javascript" language="javascript">
function  callid(id)
{
	window.location= "?do=aprodetail&action=showprod&prodid="+id;
}
</script>
<AJDF:output>include file="footer.html"</AJDF:output>