<AJDF:output>
* GNU General Public License.

* This file is part of ZeusCart V4

* ZeusCart V4 is free software: you can redistribute it and/or modify
* it under the terms of the GNU General Public License as published by
* the Free Software Foundation, either version 4 of the License, or
* (at your option) any later version.
* 
* ZeusCart V4 is distributed in the hope that it will be useful,
* but WITHOUT ANY WARRANTY; without even the implied warranty of
* MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE. See the
* GNU General Public License for more details.
* 
* You should have received a copy of the GNU General Public License
* along with Foobar. If not, see <http://www.gnu.org/licenses/>.
*
</AJDF:output>
<AJDF:output>include file="header.html"</AJDF:output>
<AJDF:output>include file="left.html"</AJDF:output>
<script type="text/javascript" src="../js/ajax.js"></script>
<script type="text/javascript">
var xmlHttp;
function LoadSubcategory(id,divid)
{
	if(id!='')
	{		
		url = "?do=selectfeatured&action=showsubcat&id="+id;		
		ajax(url,divid);
	}
 
}

function showProducts(subcatid)
{
$.ajax({
	url:'?do=selectfeatured&action=showproducts',
	data: 'id='+subcatid,
	type: 'GET',
	success: function (resp) {
	document.getElementById('productlist').innerHTML=resp;
	}
	});
	
}

$(document).ready(function (){
  $('#updateFeaturedproductIcon').click(function(){
    $("#updateFeaturedproduct").submit();
  });
});
</script>


<div class="menu_new clsBtm_20">
  <div class="row-fluid">
    <div class="span6"><h2>Select Featured Products
    </h2>
  </div><div class="span5"><ul class="bttn_right"><li>  <AJDF:output>$maincategory</AJDF:output></li></div>
  <div class="span1" >

      <ul class="bttn_right">
            <li>
              <a href="javascript:void(0);" class="update_icon"  id="updateFeaturedproductIcon"></a> </li>
              
                   
             </ul>

         </div>

     </div>
 </div>
 <AJDF:output>$msg</AJDF:output>
<form name="frmcat" action="?do=selectfeatured&action=updateProducts" method="post" id="updateFeaturedproduct">


  <!--<div class="row-fluid">
    
  <div class="span7" >

 Category
<select name="cbocat" id="cbocat" class="combo_box2" 
      onClick=	"LoadSubcategory(this.value,'subCategory');">
          <option value="">Select </option>
          <AJDF:output>$maincategory</AJDF:output>
        </select>
        <AJDF:output>$maincategory</AJDF:output>
             </ul>

         </div>

     </div>-->


          <span id="productlist"><AJDF:output>$product</AJDF:output></span>
      
</form>
<AJDF:output>include file="footer.html"</AJDF:output>