<AJDF:output>
* GNU General Public License.

* This file is part of ZeusCart V4

* ZeusCart V4 is free software: you can redistribute it and/or modify
* it under the terms of the GNU General Public License as published by
* the Free Software Foundation, either version 4 of the License, or
* (at your option) any later version.
* 
* ZeusCart V4 is distributed in the hope that it will be useful,
* but WITHOUT ANY WARRANTY; without even the implied warranty of
* MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE. See the
* GNU General Public License for more details.
* 
* You should have received a copy of the GNU General Public License
* along with Foobar. If not, see <http://www.gnu.org/licenses/>.
*
</AJDF:output>
<AJDF:output>include file="header.html"</AJDF:output>
<script type="text/javascript">
$(document).ready(function (){


  $('#shipmentSave').click(function(){
    $("#shipmentId").submit();
  });

  
   
$('.accordion').each(function() {
                    $(this).find('.accordion-group').each(function(){
                        $(this).find('.accordion-toggle').prepend('<i class="icon-chevron-left"/>')
                        $(this).find('.accordion-body').filter('.in').prev('.accordion-heading').find('.accordion-toggle').addClass('acc-in').children('i').toggleClass('icon-chevron-left icon-chevron-down');
                        
                        $(this).find('.accordion-body').on('show', function(option) {
                            $(this).find('.accordion-toggle').removeClass('acc-in');
                            $(option.target).prev('.accordion-heading').find('.accordion-toggle').addClass('acc-in').children('i').removeClass('icon-chevron-left').addClass('icon-chevron-down');
                        });
                        $(this).find('.accordion-body').on('hide', function(option) {
                            $(option.target).prev('.accordion-heading').find('.accordion-toggle').removeClass('acc-in').children('i').addClass('icon-chevron-left').removeClass('icon-chevron-down');
                        });
                        
                    });
                })

});
</script>



<style>
   
/* accordion  */
    .accordion { border-bottom: 1px solid #e9e9e9 }
    .accordion .accordion-group { margin: 0; border: none; border-radius: 0; }
    .accordion .accordion-inner { border: none }
    .accordion .accordion-heading a { background: #f7f7f7; color: #333; border-width: 1px 0 0; border-style: solid; border-color: #e9e9e9; overflow: hidden; }
    .accordion .accordion-heading a:hover { text-decoration: none }
    .accordion .accordion-heading a i { float: right; margin-top: 3px; margin-left: 10px; opacity: .3; }
    .accordion .accordion-heading .label { vertical-align: 1px }
    .accordion a.acc-in { background: none; border-top: 3px solid #368CA9; font-weight: 700; }
    .accordion a.acc-in i { margin-top: 2px }
</style>

<div class="menu_new clsBtm_20">
  <div class="row-fluid">
    <div class="span9"><h2>Shipping Methods</h2>
    </div>
     <div class="span3" >

      <ul class="bttn_right">
            <li><a href="javascript:void(0);" class="update_icon"  id="shipmentSave"></a></li>
          </ul>

    </div>

  </div>
</div>


<AJDF:output>$shipmentMsg</AJDF:output>

 <AJDF:output>if count($msg) gt 0</AJDF:output>
       <div class="alert alert-error">
             			 <button type="button" class="close" data-dismiss="alert">×</button> 
                <AJDF:output>foreach name=err item=err from=$msg</AJDF:output>
                <AJDF:output>$err</AJDF:output>
                <br>
                <AJDF:output>/foreach</AJDF:output>
              </div>
            <AJDF:output>/if</AJDF:output>
        <form name="site" action="?do=showshipmenttracker&action=update" id="shipmentId" method="post" enctype="multipart/form-data">


  <div class="row-fluid">
  <div class="span12">


    <h2 class="box_head green_bg">Shipping Methods</h2>
    <div class="toggle_container">
      <div class="clsblock">
        <div class="clearfix">
<div class="w-box-content cnt_a">
                                <div class="row-fluid">
                                    <div class="span12">
                                        <div class="accordion" id="accordion1">

    <AJDF:output>$shippingtrackersetting</AJDF:output>
                                        </div>
                                    </div> 

</div>
</div>
  </div>
</div>
</div>

</div></div>

        </form> 

<AJDF:output>include file="footer.html"</AJDF:output>