<AJDF:output>
* GNU General Public License.

* This file is part of ZeusCart V4

* ZeusCart V4 is free software: you can redistribute it and/or modify
* it under the terms of the GNU General Public License as published by
* the Free Software Foundation, either version 4 of the License, or
* (at your option) any later version.
* 
* ZeusCart V4 is distributed in the hope that it will be useful,
* but WITHOUT ANY WARRANTY; without even the implied warranty of
* MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE. See the
* GNU General Public License for more details.
* 
* You should have received a copy of the GNU General Public License
* along with Foobar. If not, see <http://www.gnu.org/licenses/>.
*
</AJDF:output>
<AJDF:output>include file="header.html"</AJDF:output>

<script type="text/javascript">
var xmlHttp;

function showSub(subcatid)
{
	window.location = "?do=showsub&action=show&id="+subcatid;
}

</script>

<div class="menu_new clsBtm_20">
  <div class="row-fluid">
    <div class="span9"><h2>Sub under Sub Category List</h2>
    </div>
    <div class="span3" >

      <ul class="bttn_right">


        <li> <a href="?do=managecategory" class="add_icon1"  ></a> </li>
          <li><a href="?do=showmain" class="view_icon1" ></a></li>


      </ul>

  </div>

</div>
</div>

	<AJDF:output>$updatemaincat</AJDF:output>
        <AJDF:output>$deletemsg</AJDF:output>
	<AJDF:output>$updatemsg</AJDF:output>

    <div class="row-fluid">
  <div class="span12" >

      <ul class="bttn_right">

          <li>
            <AJDF:output>$showmaincat</AJDF:output></li>

        </ul>
    </div></div>
  <div class="blocks" style="opacity: 1;">
<div class="clsListing clearfix">   
	<AJDF:output>$showsubcatunder </AJDF:output>
    <AJDF:output>$search</AJDF:output>
</form>
            </div></div>
           
<script type="text/javascript" language="javascript">
function  callid(id)
{
	if(confirm("Are you sure want to Delete?"))
	{
		window.location = "?do=showsubundercat&action=delete&id="+id;
	}
}
function edit(id,mid)
{
	//alert(mid);
	window.location= "?do=showsubundercat&action=disp&id="+id+"&mid="+mid;
}
</script>
<AJDF:output>include file="footer.html"</AJDF:output>
