<AJDF:output>
* GNU General Public License.

* This file is part of ZeusCart V4

* ZeusCart V4 is free software: you can redistribute it and/or modify
* it under the terms of the GNU General Public License as published by
* the Free Software Foundation, either version 4 of the License, or
* (at your option) any later version.
* 
* ZeusCart V4 is distributed in the hope that it will be useful,
* but WITHOUT ANY WARRANTY; without even the implied warranty of
* MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE. See the
* GNU General Public License for more details.
* 
* You should have received a copy of the GNU General Public License
* along with Foobar. If not, see <http://www.gnu.org/licenses/>.
*
</AJDF:output>
<AJDF:output>include file="header.html"</AJDF:output>
<AJDF:output>include file="left.html"</AJDF:output>
<form name="frmcontent" method="post" action="" enctype="multipart/form-data">
  <table width="97%" border="0" cellspacing="0" cellpadding="0">
    <tr>
      <td colspan="3" align="left" class="content_title">Show Contents<!--&nbsp;<img src="images/help.gif" onmouseover="ShowHelp('dcont', 'Html Content', 'Add here')" onmouseout="HideHelp('dcont');">
			<div id="dcont" style="left: 50px; top: 50px;"></div>--></td>
    </tr>
    <tr>
      <td colspan="3" align="left">&nbsp;</td>
    </tr>
    <tr>
      <td align="center"><AJDF:output>$editcontentmsg</AJDF:output>
        <AJDF:output>$deletemsg</AJDF:output>
      </td>
    </tr>
    <tr>
      <td colspan="3" align="left">&nbsp;</td>
    </tr>
    <tr>
      <td colspan="3" align="right"><a href="?do=contents" class="add_link">Add HTML Content</a></td>
    </tr>
    <tr>
      <td colspan="3" align="left">&nbsp;</td>
    </tr>
    <tr>
      <td align="left" ><AJDF:output>$showcontent</AJDF:output>
      </td>
    </tr>
  </table>
</form>
<AJDF:output>include file="footer.html"</AJDF:output>
<script type="text/javascript" language="javascript">
function  callcontent(id)
{
 
	if(confirm("Are you sure want to Delete?"))
	{
		window.location = "?do=showcontents&action=delete&id="+id;
	}
	document.formmaincat.mainindex.value=id;

	//document.formsubcat.submit();
}
function edit(id)
{
	window.location= "?do=showcontents&action=disp&id="+id;
}
</script>
</body></html>