<AJDF:output>
* GNU General Public License.

* This file is part of ZeusCart V2.3.

* ZeusCart V2.3 is free software: you can redistribute it and/or modify
* it under the terms of the GNU General Public License as published by
* the Free Software Foundation, either version 3 of the License, or
* (at your option) any later version.
* 
* ZeusCart V2.3 is distributed in the hope that it will be useful,
* but WITHOUT ANY WARRANTY; without even the implied warranty of
* MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE. See the
* GNU General Public License for more details.
* 
* You should have received a copy of the GNU General Public License
* along with Foobar. If not, see <http://www.gnu.org/licenses/>.
*
</AJDF:output>
<AJDF:output>include file="header.html"</AJDF:output>
<table width="90%" border="0" cellspacing="0" cellpadding="0">
  <tr>
    <td  class="content_title" align="left" > ADMIN MAP</td>
  </tr><tr><td>
                <br/><table width="100%" align="center" height="861" border="0" cellpadding="0" cellspacing="0"  class="content_list_bdr">
			     
                  <tr>
				    <td width="26" height="35">&nbsp;</td>
					    <td width="182" height="35" align="left"><a href="?do=adminlogin&action=validatelogin" style="text-decoration:none; color:#009900" class="maphead">Admin Home</a></td>
					    <td width="176" height="35"  class="maphead">Catalog</td>
					    <td width="200" height="35" class="maphead" >Customers</td>
					    <td width="163" height="35" class="maphead">Orders</td>
					    <td width="171" height="35" class="maphead">SubAdmins</td>
					  </tr>
                      
				  <tr>
				    <td height="21">&nbsp;</td>
					    <td class="maplinks" ><a href="?do=subadminmgt" style="text-decoration:none">SubAdmins</a></td>
					    <td class="maplinks">Products</td>
					    <td class="maplinks"><a href="?do=adminreg" style="text-decoration:none">View Customers</a></td>
					    <td class="maplinks"><a href="?do=disporders" style="text-decoration:none">Order List</a></td>
					    <td class="maplinks"><a href="?do=subadminmgt" style="text-decoration:none">Sub Admin Management</a></td>
					  </tr>
				  <tr>
				    <td height="21">&nbsp;</td>
					    <td class="maplinks"><!--<a href="?do=adminpayment" style="text-decoration:none">Payment Settings</a>--></td>
					    <td class="maplinks"><a href="?do=manageproducts" style="text-decoration:none">&nbsp;&nbsp;View Products</a></td>
					    <td class="maplinks"><a href="?do=addUserAccount" style="text-decoration:none">Create Customer</a></td>
					    <td class="maplinks"><a href="?do=userorder" style="text-decoration:none">Create Order</a></td>
					    <td class="maplinks">&nbsp;</td>
					  </tr>
				  <tr>
				    <td height="21">&nbsp;</td>
					    <td class="maplinks"><!--<a href="?do=cse" style="text-decoration:none">CSE Settings</a>--></td>
					    <td class="maplinks"><a href="?do=selectfeatured" style="text-decoration:none">&nbsp;&nbsp;Featured Products</a></td>
					    <td class="maplinks"><a href="?do=custreport" style="text-decoration:none">Export Customer</a></td>
					    <td class="maplinks">&nbsp;</td>
					    <td class="maplinks">&nbsp;</td>
					  </tr>
				  <tr>
				    <td height="21">&nbsp;</td>
					    <td class="maplinks">&nbsp;</td>
					    <td class="maplinks"><a href="?do=adminproductreview" style="text-decoration:none">&nbsp;&nbsp;Product Reviews</a></td>
					    <td class="maplinks">&nbsp;</td>
					    <td class="maplinks">&nbsp;</td>
					    <td class="maplinks">&nbsp;</td>
					  </tr>
				  <tr>
				    <td height="21">&nbsp;</td>
					    <td class="maplinks">&nbsp;</td>
					    <td class="maplinks"><a href="?do=productinventory" style="text-decoration:none">&nbsp;&nbsp;Inventory</a></td>
					    <td class="maplinks">&nbsp;</td>
					    <td class="maplinks">&nbsp;</td>
					    <td class="maplinks">&nbsp;</td>
					  </tr>
				  <tr>
				    <td height="21">&nbsp;</td>
					    <td class="maplinks">&nbsp;</td>
					    <td class="maplinks"><a href="?do=bulkupload" style="text-decoration:none">&nbsp;&nbsp;Products Bulk Upload</a></td>
					    <td class="maplinks">&nbsp;</td>
					    <td class="maplinks">&nbsp;</td>
					    <td class="maplinks">&nbsp;</td>
					  </tr>
				  <tr>
				    <td height="21">&nbsp;</td>
					    <td class="maplinks">&nbsp;</td>
					    <td class="maplinks"><a href="?do=bulkupload&action=displayimagesbulkupload" style="text-decoration:none">&nbsp;&nbsp;Images Bulk Upload</a></td>
					    <td class="maplinks">&nbsp;</td>
					    <td class="maplinks">&nbsp;</td>
					    <td class="maplinks">&nbsp;</td>
					  </tr>
                    <tr>
                        <td height="21">&nbsp;</td>
					    <td class="maplinks">&nbsp;</td>
					    <td class="maplinks"><a href="?do=prodexp" style="text-decoration:none">&nbsp;&nbsp;Export Product</a></td>
					    <td class="maplinks">&nbsp;</td>
					    <td class="maplinks">&nbsp;</td>
					    <td class="maplinks">&nbsp;</td>
					  </tr>
				  <tr>
				    <td height="21">&nbsp;</td>
					    <td class="maplinks">&nbsp;</td>
					    <td class="maplinks">Attributes</td>
					    <td class="maplinks">&nbsp;</td>
					    <td class="maplinks">&nbsp;</td>
					    <td class="maplinks">&nbsp;</td>
					  </tr>
					  <tr>
					    <td height="21">&nbsp;</td>
					    <td class="maplinks">&nbsp;</td>
					    <td class="maplinks"><a href="?do=addattributes" style="text-decoration:none">&nbsp;&nbsp;Attribute</a></td>
					    <td class="maplinks">&nbsp;</td>
					    <td class="maplinks">&nbsp;</td>
					    <td class="maplinks">&nbsp;</td>
					  </tr>
                       <tr>
					    <td height="21">&nbsp;</td>
					    <td class="maplinks">&nbsp;</td>
					    <td class="maplinks"><a href="?do=addattributevalues" style="text-decoration:none">&nbsp;&nbsp;Attribute Value</a></td>
					    <td class="maplinks">&nbsp;</td>
					    <td class="maplinks">&nbsp;</td>
					    <td class="maplinks">&nbsp;</td>
					  </tr>
                       <tr>
					    <td height="21">&nbsp;</td>
					    <td class="maplinks">&nbsp;</td>
					    <td class="maplinks">Categories</td>
					    <td class="maplinks">&nbsp;</td>
					    <td class="maplinks">&nbsp;</td>
					    <td class="maplinks">&nbsp;</td>
					  </tr>
                       <tr>
                        <td height="21">&nbsp;</td>
					    <td class="maplinks">&nbsp;</td>
					    <td class="maplinks"><a href="?do=showmain" style="text-decoration:none">&nbsp;&nbsp;Category</a></td>
					    <td class="maplinks">&nbsp;</td>
					    <td class="maplinks">&nbsp;</td>
					    <td class="maplinks">&nbsp;</td>
					  </tr>
                       <td height="21">&nbsp;</td>
					    <td class="maplinks">&nbsp;</td>
					    <td class="maplinks"><a href="?do=catexp" style="text-decoration:none">&nbsp;&nbsp;Category Export</a></td>
					    <td class="maplinks">&nbsp;</td>
					    <td class="maplinks">&nbsp;</td>
					    <td class="maplinks">&nbsp;</td>
					  </tr>
                       <td height="21">&nbsp;</td>
					    <td class="maplinks">&nbsp;</td>
					    <td class="maplinks"><a href="?do=catbulkupload" style="text-decoration:none">&nbsp;&nbsp;Category Bulk Upload</a></td>
					    <td class="maplinks">&nbsp;</td>
					    <td class="maplinks">&nbsp;</td>
					    <td class="maplinks">&nbsp;</td>
					  </tr>
				    <td height="21">&nbsp;</td>
					    <td class="maplinks">&nbsp;</td>
					    <td class="maplinks">&nbsp;</td>
					    <td class="maplinks">&nbsp;</td>
					    <td class="maplinks">&nbsp;</td>
					    <td class="maplinks">&nbsp;</td>
					  </tr>
				<tr class="maphead">
				    <td height="34">&nbsp;</td>
				   		<td class="maphead">Settings</td>
					    <td class="maphead">Promotions</td>
					    <td class="maphead">CMS</td>
					    <td class="maphead">Business Intelligence</td>
					    <td class="maphead">Others</td>
					  </tr>
				  <tr>
				    <td height="21">&nbsp;</td>
					  <td class="maplinks">Site Settings</td>
					    <td class="maplinks"><a  href="?do=createpromotionalcodes&action=listcoupons" style="text-decoration:none">Coupons</a></td>
					    <td class="maplinks"> <a href="?do=createpage" style="text-decoration:none">Custom Pages List</a></td>
					    <td class="maplinks">Store Status</td>
					    <td class="maplinks"><a href="?do=mostsearchedkeywords" style="text-decoration:none">Most Searched Keywords</a></td>
						
					  </tr>
				  <tr>
				    <td height="21">&nbsp;</td>
					 
					    <td class="maplinks"><a href="?do=customheader" style="text-decoration:none">&nbsp;&nbsp;Custom Header</a></td>
					    <td class="maplinks">News Letter</td>
					    <td class="maplinks"> <a href="?do=terms" style="text-decoration:none">Terms & Conditions</a></td>
					    <td class="maplinks">&nbsp;&nbsp;<a href="?do=showchart&id=1" style="text-decoration:none">Completed Orders</a></td>
						 <td class="maplinks"><a href="?do=bestsellingproducts" style="text-decoration:none">Best Selling Products</a></td>
					  </tr>
				  <tr>
				    <td height="21">&nbsp;</td>
					 
					     <td class="maplinks"><a href="?do=ganalytics" style="text-decoration:none">&nbsp;&nbsp;Google Analytics Code</a></td>
                        <td class="maplinks"><a href="?do=newsletter&action=show" style="text-decoration:none">&nbsp;&nbsp;View</a></td>
					    <td class="maplinks"> <a href="?do=adminprivacypolicy" style="text-decoration:none">Privacy Policy</a></td>
					    <td class="maplinks">&nbsp;&nbsp;<a href="?do=showchart&id=8" style="text-decoration:none">Best Selling Products</a></td> 
                         <td class="maplinks"><a href="?do=activity" style="text-decoration:none">Admin Activity Report</a></td>
					  </tr>
					  <tr>
					    <td height="21">&nbsp;</td>
					     <td class="maplinks"><a href="?do=banner" style="text-decoration:none">&nbsp;&nbsp;Home Page Banner</a></td>
					    <td class="maplinks"><a href="?do=newsletter&action=subscrib" style="text-decoration:none">&nbsp;&nbsp;Subscribed Users</a></td>
					    <td class="maplinks"> <a href="?do=faq" style="text-decoration:none">FAQs</a></td>
					    <!--<td class="maplinks">&nbsp;&nbsp;<a href="?do=showchart&id=3" style="text-decoration:none">Order Locations</a></td>-->
                        <td class="maplinks">Order Status</td>
					    <td class="maplinks"><a href="?do=admactexp" style="text-decoration:none">Admin Activity Export</a></td>
					  </tr>
                       <tr>
					    <td height="21">&nbsp;</td>
					    <td class="maplinks"><a href="?do=site" style="text-decoration:none">&nbsp;&nbsp;Site Moto</a></td>
					    <td class="maplinks"><a href="?do=news&action=show" style="text-decoration:none">News Management</a></td>
					    <td class="maplinks"> <a  href="?do=showcontents" style="text-decoration:none">Html Contents</a></td>
					    <td class="maplinks">&nbsp;&nbsp;<a href="?do=showchart&id=4" style="text-decoration:none">Pending Orders</a></td>
					    <td class="maplinks"><a href="?do=siteinfo" style="text-decoration:none">Server Information</a></td>
					  </tr>
                       <tr>
					    <td height="21">&nbsp;</td>
					   <td class="maplinks"><a  href="?do=sitelogo" style="text-decoration:none">&nbsp;&nbsp;Site Logo</a></td>
					    <td class="maplinks"><a  href="?do=gadsense" style="text-decoration:none">Google AdSense Code</a></td>
					    <td class="maplinks"> <a  href="?do=aboutus" style="text-decoration:none">About Us</a></td>
					    <td class="maplinks">&nbsp;&nbsp;<a href="?do=showchart&id=5" style="text-decoration:none">Processing Orders</a></td>
					    <td class="maplinks">&nbsp;</td>
					  </tr>
                       <tr>
					    <td height="21">&nbsp;</td>
					    <td class="maplinks"><a href="?do=selectskin" style="text-decoration:none">&nbsp;&nbsp;Site Skin</a></td>
					    <td class="maplinks"><a  href="?do=adword" style="text-decoration:none">Google AdWord Campaign</a></td>
					    <td class="maplinks">&nbsp;</td>
					     <td class="maplinks">&nbsp;&nbsp;<a href="?do=showchart&id=6" style="text-decoration:none">Awaiting Payment</a></td>
					    <td class="maplinks">&nbsp;</td>
					  </tr>
                       <tr>
					    <td height="21">&nbsp;</td>
					     <td class="maplinks"><a  href="?do=sitemail" style="text-decoration:none">&nbsp;&nbsp;Admin Email</a></td>
					    <td class="maplinks"><a  href="?do=googleproduct" style="text-decoration:none">Google Base Data Feed</a></td>
					    <td class="maplinks">&nbsp;</td>
					   <td class="maplinks">&nbsp;&nbsp;<a href="?do=showchart&id=7" style="text-decoration:none">Quantity Break Down</a></td>
					    <td class="maplinks">&nbsp;</td>
					  </tr>
                       <tr>
					    <td height="21">&nbsp;</td>
					     <td class="maplinks"><a  href="?do=timezone" style="text-decoration:none">&nbsp;&nbsp;Time Zone</a></td>
					    <td class="maplinks">&nbsp;</td>
					    <td class="maplinks">&nbsp;</td>
					  <td class="maplinks">Product Status </td>
					    <td class="maplinks">&nbsp;</td>
					  </tr>
                       <tr>
					    <td height="21">&nbsp;</td>
					     <td class="maplinks"><a href="?do=adminpayment" style="text-decoration:none">Payment Settings</a></td>
					    <td class="maplinks">&nbsp;</td>
					    <td class="maplinks">&nbsp;</td>
					   <td class="maplinks">&nbsp;&nbsp;<a href="?do=showchart&id=9" style="text-decoration:none">Products Sold(By Units)</a></td>
					    <td class="maplinks">&nbsp;</td>
					  </tr>
                       <tr>
					    <td height="21">&nbsp;</td>
					     <td class="maplinks"><a href="?do=taxsettings" style="text-decoration:none">Tax Settings</a></td>
					    <td class="maplinks">&nbsp;</td>
					    <td class="maplinks">&nbsp;</td>
					    <td class="maplinks">&nbsp;&nbsp;<a href="?do=showchart&id=10" style="text-decoration:none">Products Sold(By Revenue)</a></td>
					    <td class="maplinks">&nbsp;</td>
					  </tr>
                       <tr>
					    <td height="21">&nbsp;</td>
					     <td class="maplinks"><a href="?do=showcurrencylist" style="text-decoration:none">Currency Settings</a></td>
					    <td class="maplinks">&nbsp;</td>
					    <td class="maplinks">&nbsp;</td>
  						<td class="maplinks">Customer Status</td>
  					    <td class="maplinks">&nbsp;</td>
					  </tr>
                       <tr>
					    <td height="21">&nbsp;</td>
					     <td class="maplinks"><a href="?do=cse" style="text-decoration:none">CSE Settings</a></td>
					    <td class="maplinks">&nbsp;</td>
					    <td class="maplinks">&nbsp;</td>
					    <td class="maplinks">&nbsp;&nbsp;<a href="?do=showchart&id=2" style="text-decoration:none">New Customers</a></td>
					    <td class="maplinks">&nbsp;</td>
					  </tr>
                       <tr>
					    <td height="21">&nbsp;</td>
					    <td class="maplinks">&nbsp;</td>
					    <td class="maplinks">&nbsp;</td>
					    <td class="maplinks">&nbsp;</td>
					    <td class="maplinks">&nbsp;&nbsp;<a href="?do=showchart&id=11" style="text-decoration:none">Customers(By Location)</a></td>
					    <td class="maplinks">&nbsp;</td>
					  </tr>
                      <tr>
					    <td height="21">&nbsp;</td>
					    <td class="maplinks">&nbsp;</td>
					    <td class="maplinks">&nbsp;</td>
					    <td class="maplinks">&nbsp;</td>
					   <td class="maplinks">&nbsp;&nbsp;<a href="?do=showchart&id=12" style="text-decoration:none">Customers Seniority</a></td>
					    <td class="maplinks">&nbsp;</td>
					  </tr>
                       <tr>
					    <td height="21">&nbsp;</td>
					    <td class="maplinks">&nbsp;</td>
					    <td class="maplinks">&nbsp;</td>
					    <td class="maplinks">&nbsp;</td>
					   <td class="maplinks">&nbsp;</td>
					    <td class="maplinks">&nbsp;</td>
					  </tr>
                       <tr>
					    <td height="21">&nbsp;</td>
					    <td class="maplinks">&nbsp;</td>
					    <td class="maplinks">&nbsp;</td>
					    <td class="maplinks">&nbsp;</td>
					    <td class="maplinks">&nbsp;</td>
					    <td class="maplinks">&nbsp;</td>
					  </tr>
					   <tr>
					    <td height="21">&nbsp;</td>
					    <td class="maplinks">&nbsp;</td>
					    <td class="maplinks">&nbsp;</td>
					    <td class="maplinks">&nbsp;</td>
					    <td class="maplinks">&nbsp;</td>
					    <td class="maplinks">&nbsp;</td>
					  </tr>
					  <tr>
					    <td height="21">&nbsp;</td>
					    <td class="maplinks">&nbsp;</td>
					    <td class="maplinks">&nbsp;</td>
					    <td class="maplinks">&nbsp;</td>
					    <td class="maplinks">&nbsp;</td>
					    <td class="maplinks">&nbsp;</td>
					  </tr>
					</table>
    <AJDF:output>include file="footer.html"</AJDF:output>