<AJDF:output>
* GNU General Public License.

* This file is part of ZeusCart V4

* ZeusCart V4 is free software: you can redistribute it and/or modify
* it under the terms of the GNU General Public License as published by
* the Free Software Foundation, either version 4 of the License, or
* (at your option) any later version.
* 
* ZeusCart V4 is distributed in the hope that it will be useful,
* but WITHOUT ANY WARRANTY; without even the implied warranty of
* MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE. See the
* GNU General Public License for more details.
* 
* You should have received a copy of the GNU General Public License
* along with Foobar. If not, see <http://www.gnu.org/licenses/>.
*
</AJDF:output>
<AJDF:output>include file="header.html"</AJDF:output>
<script type="text/javascript" src="assets/js/bootstrap-fileupload.min.js"></script>
<link rel="stylesheet" href="assets/css/bootstrap-fileupload.min.css">

<script type="text/javascript">
$(document).ready(function (){
  $('#updateSiteskinicon').click(function(){
    $("#updateSiteskin").submit();
  });
});
</script>

<div class="menu_new clsBtm_20">
  <div class="row-fluid">
    <div class="span9"><h2>Add Skin</h2>
    </div>
    <div class="span3" >

      <ul class="bttn_right">
        <li><a href="javascript:void(0);" class="save_icon"   id="updateSiteskinicon"></a></li>
        
      </ul>

    </div>

  </div>
</div>

<AJDF:output>$addmsg</AJDF:output>

<form name="fm" method="post" action="?do=skin&action=add" id="updateSiteskin" enctype="multipart/form-data">
 
 <div class="row-fluid">
  <div class="span12">

    <h2 class="box_head green_bg">Add Skins</h2>
    <div class="toggle_container">
      <div class="clsblock">
        <div class="clearfix">

              
         <div class="row-fluid">
  <div class="span12"><label>Skin Name <font color="red">*</font> </label>
      
        <input type="text" name="skinname" class="txt_box250" value="<AJDF:output>$skinname</AJDF:output>"/> 

</div></div>

        
         <div class="row-fluid">
  <div class="span5">Theme Zip File <font color="red">*</font>

                <div class="fileupload fileupload-new" data-provides="fileupload">
                  <div class="fileupload-new thumbnail" style="width:155px; height: 20px;"></div>
                  <div class="fileupload-preview fileupload-exists thumbnail" style="max-width: 200px; max-height: 150px; line-height: 20px;"></div>
                  <div>
                    <span class="btn btn-file"><span class="fileupload-new">Select</span><span class="fileupload-exists">Change</span><input type="file" name="zip_file" id="zip_file" value="<? echo $_POST['zip_file']; ?>"/></span>
                    <a href="#" class="btn fileupload-exists" data-dismiss="fileupload">Remove</a>
                  </div>
                </div>
              </div>  <div class="span5"><p>
<font color="red">( Important : Please upload the zip folder name  is same as  which we enter the skin name  in above text box inside the folder having style sheet  name is menu.css else the user side style will be corrupted)</font></p></div>
</div>


           <div class="row-fluid">
  <div class="span12">
          List Of Available Skins 
        <AJDF:output>$showskin</AJDF:output>       </div>
</div>
       </div>
</div>
</div>
</div></div>

</form>
<AJDF:output>include file="footer.html"</AJDF:output>