<AJDF:output>
* GNU General Public License.

* This file is part of ZeusCart V4

* ZeusCart V4 is free software: you can redistribute it and/or modify
* it under the terms of the GNU General Public License as published by
* the Free Software Foundation, either version 4 of the License, or
* (at your option) any later version.
* 
* ZeusCart V4 is distributed in the hope that it will be useful,
* but WITHOUT ANY WARRANTY; without even the implied warranty of
* MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE. See the
* GNU General Public License for more details.
* 
* You should have received a copy of the GNU General Public License
* along with Foobar. If not, see <http://www.gnu.org/licenses/>.
*
</AJDF:output>
<AJDF:output>include file="header.html"</AJDF:output>

<script type="text/javascript">
$(document).ready(function (){
  $('#adminTimezonebutton').click(function(){
    $("#timeZoneform").submit();
  });
  $("select").chosen({allow_single_deselect:true});
});
</script>

<div class="menu_new clsBtm_20">
  <div class="row-fluid">
    <div class="span9"><h2>Time Zone</h2>
    </div>
    <div class="span3" >

      <ul class="bttn_right">
        <li><a href="javascript:void(0);" class="update_icon"  id="adminTimezonebutton"></a></li>
      </ul>

    </div>

  </div>
</div>


<AJDF:output>$updatezonemsg</AJDF:output>

<form name="site" action="?do=timezone&action=update" method="post" id="timeZoneform">
  <div class="row-fluid">
    <div class="span12"><h2 class="box_head green_bg">Select Time Zone</h2>
      <div class="toggle_container">
        <div class="clsblock">
          <div class="clearfix"> 
           <div class="row-fluid">
            <div class="span2">
              <label> Current Time Zone :</label></div>
              <div class="span9">
               <AJDF:output>$currentzone</AJDF:output></div></div>
               <div class="row-fluid">
                <div class="span2">
                  <label>  Set TimeZone to :</label></div>
                  <div class="span9"> <AJDF:output>$timezone</AJDF:output></div></div>
                </div>
              </div>
            </div>
          </div></div>
        </form>
        <AJDF:output>include file="footer.html"</AJDF:output>
