<AJDF:output>
* GNU General Public License.

* This file is part of ZeusCart V4

* ZeusCart V4 is free software: you can redistribute it and/or modify
* it under the terms of the GNU General Public License as published by
* the Free Software Foundation, either version 4 of the License, or
* (at your option) any later version.
* 
* ZeusCart V4 is distributed in the hope that it will be useful,
* but WITHOUT ANY WARRANTY; without even the implied warranty of
* MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE. See the
* GNU General Public License for more details.
* 
* You should have received a copy of the GNU General Public License
* along with Foobar. If not, see <http://www.gnu.org/licenses/>.
*
</AJDF:output>
<AJDF:output>include file="header.html"</AJDF:output>
<style type="text/css">
#floatMenu {
	position:absolute;
}
html>body .button_bg_api {
	background:url(images/close.png) no-repeat;
	border:0 none;
	height:30px;
	width:30px;
	position:absolute;
	right:10px;
	top: 15px;
}
* html .button_bg_api {
	height:27px;
	width:21px;
	filter:progid:DXImageTransform.Microsoft.AlphaImageLoader(src='images/close.png', sizingMethod='noscale');
	position:absolute;
	cursor:pointer;
	right:-8px;
	top:7px;
	border:0 none;
}
</style>
<script type="text/javascript">
 $(document).ready(function (){
$('#saveCreateorderIcon').click(function(){
$("#saveCreateOrder").submit();
});
});
</script>



<div class="menu_new clsBtm_20">
  <div class="row-fluid">
    <div class="span9"><h2>Create Order</h2>
    </div>
    <div class="span3" >

      <ul class="bttn_right">
        <li><a href="javascript:void(0);" class="save_icon"  id="saveCreateorderIcon"></a></li>
        
      </ul>

    </div>

  </div>
</div>

<AJDF:output> $message </AJDF:output>

	<div class="row-fluid">
		<div class="span12">

			<h2 class="box_head green_bg">Create Order</h2>
			<div class="toggle_container">
				<div class="clsblock">

<form name="reg" method="post" action="?do=addUserProduct">
		<div class="row-fluid">
		<div class="span3">
	Select Category</div>	<div class="span9">
					<AJDF:output>$category1 </AJDF:output>
				</div></div><div class="row-fluid">
		<div class="span3">
					Products</div><div class="span9"><div id="divProduct"><AJDF:output>$products </AJDF:output></div></div></div>
					<div class="row-fluid">
		<div class="span3">Qty</div><div class="span9"><div id="divQty" style="width:100px"><AJDF:output>$qty</AJDF:output>
				<div id="dqty" style=" position:fixed"></div></div> 
			
<div class="row-fluid">
		<div class="span9"><input type="submit" name="add" id="add" value="ADD" class="clsBigBtn"/></div></div>
</form>  
</div></div></div></div></div>
<form name="userOrder" method="post" action="?do=addUserOrder&action=create" id="saveCreateOrder" > 
<div>&nbsp;
</div>
	  <div class="blocks" style="opacity: 1;">
<div class="clsListing clearfix">
<AJDF:output>$orderlist</AJDF:output>
</div></div>

	<div class="row-fluid">
		<div class="span12">

			<h2 class="box_head green_bg">Customer</h2>
			<div class="toggle_container">
				<div class="clsblock">
					<div class="clearfix">

						<div class="row-fluid">
							<div class="span3"><label>Customer&nbsp;<font color="red">*</font></label></div><div class="span3">
							<AJDF:output> $customer </AJDF:output></div><div class="span6"><a href="#myModal" role="button" class="add_icon1" data-toggle="modal">
							</a></div></div>
							<div class="row-fluid">
								<div class="span3"><label>Paid Through </label></div><div class="span9">
								<AJDF:output> $payment </AJDF:output></div></div>
								<div id="dpay" style=" position:fixed"></div>

							</div>
						</div>
					</div>
				</div></div> <br/>

				<AJDF:output> $showShippingDetails </AJDF:output>
				<!-- <input type="submit" value="Create Order" class="all_bttn" />    -->


			</form>


			<!--Body Part Ends-->
			<!--Footer-->
			<script type="text/javascript">
			function loadSubcat(arg)
			{
				document.getElementById('selSubUnderCategory').value='';
				document.getElementById('selProduct').value='';
				document.getElementById('quantity').value='';

				document.getElementById('txtname').value = "";
				document.getElementById('txtcompany').value = "";
				document.getElementById('txtstreet').value = "";
				document.getElementById('txtcity').value = "";
				document.getElementById('txtsuburb').value = "";
				document.getElementById('txtstate').value = "";		
				document.getElementById('txtzipcode').value ="";
				document.getElementById('selbillcountry').value="";	

				document.getElementById('txtsname').value = "";
				document.getElementById('txtscompany').value = "";
				document.getElementById('txtsstreet').value = "";
				document.getElementById('txtscity').value = "";
				document.getElementById('txtssuburb').value = "";
				document.getElementById('txtsstate').value = "";		
				document.getElementById('txtszipcode').value ="";
				document.getElementById('selshipcountry').value="";
				url ="?do=loadSubcat&id="+arg;
				ajax(url,'subCat');
			}
			function loadProduct()
			{	//catid,suid,sucid
				var sucid=$('#selCategory').val();
				$.ajax({
				url:'?do=loadProduct&id='+sucid,
				type: 'GET',
				success: function (resp) {
				document.getElementById('divProduct').innerHTML=resp;
				}
				});
			}
			function loadQty(arg)
			{
				$.ajax({
				url:'?do=loadQty&id='+arg,
				type: 'GET',
				success: function (resp) {
				document.getElementById('divQty').innerHTML=resp;
				}
				});
			}
			function loadSubUnder(arg)
			{

				var catid=document.getElementById('category').value;
				url ="?do=loadSubUnder&id="+arg+"&catid="+catid;
				ajax(url,'sunUnderCat');

			}
			function loadusermultiaddress()
			{
				var userid1 = document.getElementById('selCustomer').value;
				$.ajax({
				url:'?do=loadusermultibilladdress&id='+userid1,
				type: 'GET',
				success: function (resp) {
				document.getElementById('multiaddressbill').innerHTML=resp;
				}
				});
				var userid1 = document.getElementById('selCustomer').value;
				$.ajax({
				url:'?do=loadusermultishipaddress&id='+userid1,
				type: 'GET',
				success: function (resp) {
				document.getElementById('multiaddressship').innerHTML=resp;
				}
				});
				document.getElementById('txtname').value = "";
				document.getElementById('txtcompany').value = "";
				document.getElementById('txtstreet').value = "";
				document.getElementById('txtcity').value = "";
				document.getElementById('txtsuburb').value = "";
				document.getElementById('txtstate').value = "";		
				document.getElementById('txtzipcode').value ="";
				document.getElementById('selbillcountry').value="";	

				document.getElementById('txtsname').value = "";
				document.getElementById('txtscompany').value = "";
				document.getElementById('txtsstreet').value = "";
				document.getElementById('txtscity').value = "";
				document.getElementById('txtssuburb').value = "";
				document.getElementById('txtsstate').value = "";		
				document.getElementById('txtszipcode').value ="";
				document.getElementById('selshipcountry').value="";	

			}
			function getuseraddressdetails(id)
			{

				if(id==0)
				{
					var addressid = document.getElementById('muladdbill').value;
				}
				if(id==1)
				{
					var addressid = document.getElementById('muladdship').value;
				}
				var userid = document.getElementById('selCustomer').value;
				$.ajax({
				url:"?do=loaduseraddressdetails&addressid="+addressid+"&userid="+userid,
				type: 'GET',
				success: function (resp) {
				userdetails = new Array();
				userdetails = resp.split('|');	

					if(userdetails=='' || userdetails.length==0)
					{
	
						if(id==0)
						{
							document.getElementById('txtname').value = "";
							document.getElementById('txtcompany').value = "";
							document.getElementById('txtstreet').value = "";
							document.getElementById('txtcity').value = "";
							document.getElementById('txtsuburb').value = "";
							document.getElementById('txtstate').value = "";		
							document.getElementById('txtzipcode').value ="";
							document.getElementById('selbillcountry').value="";	
						}
						if(id==1)
						{
							document.getElementById('txtsname').value = "";
							document.getElementById('txtscompany').value = "";
							document.getElementById('txtsstreet').value = "";
							document.getElementById('txtscity').value = "";
							document.getElementById('txtssuburb').value = "";
							document.getElementById('txtsstate').value = "";		
							document.getElementById('txtszipcode').value ="";
							document.getElementById('selshipcountry').value="";	
						}
					}
					else
					{
	
						if(id==0)
						{	
							document.getElementById('txtname').value = userdetails[0];
							
							document.getElementById('txtcompany').value =userdetails[1];
							
							document.getElementById('txtstreet').value = userdetails[2];
							
							document.getElementById('txtcity').value = userdetails[3];
	
							document.getElementById('txtsuburb').value = userdetails[4];
	
							document.getElementById('txtstate').value = userdetails[5];
							
							for(i=0;i<document.getElementById('selbillcountry').length;i++)
							{
								if(document.getElementById('selbillcountry').options[i].value==userdetails[6])
								{
									document.getElementById('selbillcountry').selectedIndex=i;
								}
								
							}						
							document.getElementById('txtzipcode').value = userdetails[7];	
	
							
						}
						if(id==1)
						{						
							
							document.getElementById('txtsname').value = userdetails[0];						document.getElementById('txtscompany').value = userdetails[1];
							
							document.getElementById('txtsstreet').value = userdetails[2];
							
							document.getElementById('txtscity').value = userdetails[3];
							
							document.getElementById('txtssuburb').value = userdetails[4];
							
							document.getElementById('txtsstate').value = userdetails[5];
							for(i=0;i<document.getElementById('selshipcountry').length;i++)
							{
	
								if(document.getElementById('selshipcountry').options[i].value==userdetails[6])
								{
									document.getElementById('selshipcountry').selectedIndex=i;
								}
							}						
	
							document.getElementById('txtszipcode').value = userdetails[7];	
							
						}
					}	
				}
				});	
	
			}
			

function coupondiscount(tot)
{

	var discountrate=document.getElementById('discountrate').value;
	discountmethod=document.getElementById('discount').value;


	if(discountmethod=='percentage')
	{

		var discountamount=((100-discountrate)/100);

		var netamount=discountamount*tot;
	}
	if(discountmethod=='flat')
	{
		var netamount=tot-discountrate;
	}
	document.getElementById('grandtotal').textContent="Rs"+netamount.toFixed(2);
	document.getElementById('hidOrderTotal').value=netamount.toFixed(2);
}


</script>


<div id="myModal" class="modal hide fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
<div class="modal-header">
<button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
<h3 id="myModalLabel">Create Customer</h3>
</div>
<div class="modal-body">
<iframe name="create_customer" id="create_customer" src="index.php?do=addUserAccountLight" scrolling="auto" style="width:500px; height:380px;" frameborder="0" ></iframe>
</div>

</div>
<AJDF:output>include file="footer.html"</AJDF:output>