<AJDF:output>
* GNU General Public License.

* This file is part of ZeusCart V4

* ZeusCart V4 is free software: you can redistribute it and/or modify
* it under the terms of the GNU General Public License as published by
* the Free Software Foundation, either version 4 of the License, or
* (at your option) any later version.
* 
* ZeusCart V4 is distributed in the hope that it will be useful,
* but WITHOUT ANY WARRANTY; without even the implied warranty of
* MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE. See the
* GNU General Public License for more details.
* 
* You should have received a copy of the GNU General Public License
* along with Foobar. If not, see <http://www.gnu.org/licenses/>.
*
</AJDF:output>
<AJDF:output>include file="header.html"</AJDF:output>

<AJDF:output>$detailorder</AJDF:output>
<div class="row-fluid">
  <div class="span12">
    <h2 class="box_head green_bg">Delivery Details</h2>
    <div class="toggle_container">
      <div class="clsblock">
        <div class="clearfix">

<AJDF:output>$transdetails</AJDF:output>
</div></div></div></div></div><br/>

<div class="row-fluid">
  <div class="span12">
    <h2 class="box_head green_bg">Products Ordered</h2>
    <div class="toggle_container">
      <div class="clsblock">
        <div class="clearfix">

<AJDF:output>$productorders</AJDF:output>
</div></div></div></div></div><br/>
<div class="row-fluid">
  <div class="span12">
    <h2 class="box_head green_bg">Order History</h2>
    <div class="toggle_container">
      <div class="clsblock">
        <div class="clearfix">

<AJDF:output>$orderhistory</AJDF:output>
</div></div></div></div></div>
<AJDF:output>include file="footer.html"</AJDF:output>