
.galleryContainer {width: 100%;}
.galleryImage { background-color:black; width:235px; height:280px; overflow:hidden;  float:left;}
.info    {padding:10px; width:220px; overflow:hidden;}
.info h2 { color: #fff; font-size:16px; font-style:italic; line-height:20px; height:18px; overflow:hidden;}
.info h4 { color: #e88c10; font-size:16px; font-style:italic; padding-bottom:5px;}
.info p { color:#e4e4e4; font-size:11px; height:20px; overflow:hidden;}



/* Responsive image grid*/
/* Mobile landscape width 320 */
/*@media only screen and (max-width: 767px) {

.galleryImage{
width:235px;
height:280px;

}
}*/
/*@media (min-width: 480px) {
#gallery_image{background:#000; width:46%; margin:0 4px 15px 12px; float:left;}
.info{padding:10px; width:100%; overflow:hidden;}

}*/

 @media only screen and (min-width: 320px) and (max-width: 480px) {

#gallery_image{background:#000; width:100%;  }
.info{padding:10px; width:100%; overflow:hidden;}
}
 @media only screen and (min-width: 481px) and (max-width: 767px) {

#gallery_image{background:#000; margin:0 12px 5px 0; width:31%; float:left; }
.info{padding:10px; width:100%; overflow:hidden;}
.add_btn {
    background:url(../img/add-to-cart-btn.png) ;
      background-position:  0px 0px;
    background-repeat: no-repeat;
    width:150px;
    height:40px;
    display:block;
    cursor:pointer;
    border:0;
    outline:none;
    color: #FFFFFF;
    font-weight: bold;
}

.add_btn:hover {
    background:url(../img/add-to-cart-btn-hov.png) no-repeat;
}
}


@media (min-width: 768px) {
#gallery_image{background:#000; margin:0 0 15px 0; width:100%; float:left; height:230px;}
.info{padding:10px; width:100%; overflow:hidden;}

.add_btn {
    background:url(../img/add-to-cart-btn.png) ;
      background-position:  0px 0px;
    background-repeat: no-repeat;
    width:150px;
    height:40px;
    display:block;
    cursor:pointer;
    border:0;
    outline:none;
    color: #FFFFFF;
    font-weight: bold;
}

.add_btn:hover {
    background:url(../img/add-to-cart-btn-hov.png) no-repeat;
}
}

