<AJDF:output>
* GNU General Public License.

* This file is part of ZeusCart V4

* ZeusCart V4 is free software: you can redistribute it and/or modify
* it under the terms of the GNU General Public License as published by
* the Free Software Foundation, either version 4 of the License, or
* (at your option) any later version.
* 
* ZeusCart V4 is distributed in the hope that it will be useful,
* but WITHOUT ANY WARRANTY; without even the implied warranty of
* MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE. See the
* GNU General Public License for more details.
* 
* You should have received a copy of the GNU General Public License
* along with Foobar. If not, see <http://www.gnu.org/licenses/>.
*
</AJDF:output>
<!--Body Part Ends-->
<div id="body_container">
    <div id="main">
    <form name="frmAddress">
        <div>
         <table width="100%" border="0" cellspacing="0" cellpadding="0" class="checkout_rigistration">
           <tr>
             <td width="26%">First Name <span>*</span></td>
             <td width="4%">:</td>
             <td width="70%"><input name="textfield9" type="text" class="txtbox1 w4 TxtC1" id="textfield9" /></td>
           </tr>
           <tr>
             <td>Last Name <span>*</span></td>
             <td>:</td>
             <td><input name="textfield2" type="text" class="txtbox1 w4 TxtC1" id="textfield2" /></td>
           </tr>
           <tr>
             <td>Company</td>
             <td>:</td>
             <td><input name="textfield3" type="text" class="txtbox1 w4 TxtC1" id="textfield3" /></td>
           </tr>
           <tr>
             <td>Email Address <span>*</span></td>
             <td>:</td>
             <td><input name="textfield4" type="text" class="txtbox1 w4 TxtC1" id="textfield4" /></td>
           </tr>
           <tr>
             <td>Address <span>*</span></td>
             <td>:</td>
             <td><input name="textfield7" type="text" class="txtbox1 w4 TxtC1" id="textfield7" /></td>
           </tr>
           <tr>
             <td>City <span>*</span></td>
             <td>:</td>
             <td><input name="textfield8" type="text" class="txtbox1 w4 TxtC1" id="textfield8" /></td>
           </tr>
           <tr>
             <td>State/Province <span>*</span></td>
             <td>:</td>
             <td><select name="select2" id="select2" class="txtbox1 w4a TxtC1">
                 <option>State / Province</option>
             </select></td>
           </tr>
           <tr>
             <td>Zip/Postal Code <span>*</span></td>
             <td>:</td>
             <td><input name="textfield82" type="text" class="txtbox1 w4 TxtC1" id="textfield82" /></td>
           </tr>
           <tr>
             <td>Country <span>*</span></td>
             <td>:</td>
             <td><select name="select3" id="select3" class="listbox1 w4a TxtC1">
                 <option>State / Province</option>
             </select></td>
           </tr>
           <tr>
             <td>Telephone <span>*</span></td>
             <td>:</td>
             <td><input name="textfield822" type="text" class="txtbox1 w4 TxtC1" id="textfield822" /></td>
           </tr>
           <tr>
             <td>Fax</td>
             <td>:</td>
             <td><input name="textfield823" type="text" class="txtbox1 w4 TxtC1" id="textfield823" /></td>
           </tr>
           <tr>
             <td colspan="3" style="padding-top:10px;"><table width="100%" border="0" cellspacing="0" cellpadding="0">
                 <tr>
                   <td valign="top"><div>
                       <table border="0" cellspacing="0" cellpadding="0">
                         <tr>
                           <td align="right" class="button_left" ></td>
                           <td><input type="submit" name="Submit2" value="Continue" class="button" /></td>
                           <td class="button_right"></td>
                         </tr>
                       </table>
                   </div></td>
                 </tr>
             </table></td>
           </tr>
         </table>
       </div>
    </form>   
    </div>
    <div id="curve">
        <table width="100%" border="0" cellspacing="0" cellpadding="0">
          <tr>
            <td align="left" valign="top" class="round_left" ><!--<img src="css/default/images/curve_L.gif" alt="" width="8" height="9" />--></td>
            <td></td>
            <td align="right" valign="top" class="round_right"><!--<img src="css/default/images/curve_R.gif" alt="" width="7" height="9" />--></td>
          </tr>
        </table>
    </div>
</div>

<!--Body Part Ends-->

