<AJDF:output>
* GNU General Public License.

* This file is part of ZeusCart V4

* ZeusCart V4 is free software: you can redistribute it and/or modify
* it under the terms of the GNU General Public License as published by
* the Free Software Foundation, either version 4 of the License, or
* (at your option) any later version.
* 
* ZeusCart V4 is distributed in the hope that it will be useful,
* but WITHOUT ANY WARRANTY; without even the implied warranty of
* MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE. See the
* GNU General Public License for more details.
* 
* You should have received a copy of the GNU General Public License
* along with Foobar. If not, see <http://www.gnu.org/licenses/>.
*
</AJDF:output>
<!--<AJDF:output>include file="header.html"</AJDF:output>-->
<table width="100%" border="0" cellspacing="0" cellpadding="0">
  <tr>
    <td width="250" valign="top"><table width="100%" border="0" cellspacing="0" cellpadding="0">
      <tr>
        <td valign="top"><!--<AJDF:output>include file="left.html"</AJDF:output>--></td>
      </tr>
      <tr>
        <td>&nbsp;</td>
      </tr>
      <tr>
        <td>&nbsp;</td>
      </tr>
    </table></td>
    <td valign="top" style="padding-left:20px"><table width="100%" border="0" cellspacing="0" cellpadding="0">
      <tr>
        <td class="title">Error Page</td>
      </tr>
      <tr>
        <td>&nbsp;</td>
      </tr>
      <tr>
        <td><strong>Page  not Found</strong></td>
      </tr>
      
      <tr>
        <td height="20"><hr align="center" width="100%" size="1" noshade="noshade" style="color:#CCCCCC" /></td>
      </tr>
      
    </table></td>
  </tr>
</table>
<!--<AJDF:output>include file="footer.html"</AJDF:output>-->