<AJDF:output>
* GNU General Public License.

* This file is part of ZeusCart V4

* ZeusCart V4 is free software: you can redistribute it and/or modify
* it under the terms of the GNU General Public License as published by
* the Free Software Foundation, either version 4 of the License, or
* (at your option) any later version.
* 
* ZeusCart V4 is distributed in the hope that it will be useful,
* but WITHOUT ANY WARRANTY; without even the implied warranty of
* MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE. See the
* GNU General Public License for more details.
* 
* You should have received a copy of the GNU General Public License
* along with Foobar. If not, see <http://www.gnu.org/licenses/>.
*
</AJDF:output>
<!--Footer-->
  <footer>
 
    <div id="order_div">
    	<div class="container">
        	<div class="row-fluid">
        	<div class="span7"><h3>Free Shipping on orders over <span><AJDF:output>$smarty.session.currencysetting.selected_currency_settings.currency_tocken</AJDF:output><AJDF:output>$footerconnect.free_shipping_cost</AJDF:output></span></h3></div>

            <div class="span5">      <AJDF:output>$newsletter</AJDF:output>
<form name="newsletter" action="<AJDF:output>$smarty.session.base_url</AJDF:output>/index.php?do=subnewsletter" method="post" class="form-inline" style="float:right">
            <label class="checkbox">
Sign up for our Newsletter 
</label>
<input name="email" class="input-small"  type="text"  maxlength="100" value="Your Email" onblur="if(this.value=='') this.value='Your Email'" onfocus="this.value=''" /> 

<button type="submit" class="btn btn-danger">Submit</button>
</form></div>
        </div></div>
        
    </div>  
	<div class="ftr_cnt_area">
    	<div class="container">
        	<div class="row-fluid">

		<div class="span2">
                	<h3>Information</h3>
                   <ul class="ftrlist">
                    	<li><a href="<AJDF:output>$smarty.session.base_url</AJDF:output>/aboutus.html">About Us</a></li>
                    	<li><a href="<AJDF:output>$smarty.session.base_url</AJDF:output>/policy.html">Privacy policy</a></li>
                    	<li><a href="<AJDF:output>$smarty.session.base_url</AJDF:output>/terms.html">Terms & Conditions</a></li>
			<li><a href="<AJDF:output>$smarty.session.base_url</AJDF:output>/faq.html">FAQ</a></li>
                    	<li><a href="<AJDF:output>$smarty.session.base_url</AJDF:output>/index.php?do=morenews">Latest News</a></li>
                    </ul>
                </div>

		<div class="span3">
                	<h3>Customer Service</h3>
                   <ul class="ftrlist">
                    	<li><a href="<AJDF:output>$smarty.session.base_url</AJDF:output>/contact.html">Contact us</a></li>
                    	<li><a href="<AJDF:output>$smarty.session.base_url</AJDF:output>/site.html">Site Map</a></li>
                    	
                    </ul>
                </div>
            	<div class="span2">
                	<h3>My account</h3>
                   <ul class="ftrlist">
                    	<li><a href="<AJDF:output>$smarty.session.base_url</AJDF:output>/index.php?do=dashboard">My account</a></li>
                    	<li><a href="<AJDF:output>$smarty.session.base_url</AJDF:output>/index.php?do=wishlist">Wish List</a></li>
                    </ul>
                </div>
            	<div class="span2">
                	<h3>Extras</h3>
                   <ul class="ftrlist">
			
                    	<li><a href="<AJDF:output>$smarty.session.base_url</AJDF:output>/index.php?do=brands&schltr=All">Brands</a></li>
                    	<li><a href="<AJDF:output>$smarty.session.base_url</AJDF:output>/giftproducts.html">Gift Vouchers</a></li>
                            	
                    </ul>
                </div>
            	
           	  <div class="span3">
               	<h3>Connect with us</h3>
                 <ul class="cntwithus">
               		  <li><img src="<AJDF:output>$smarty.session.base_url</AJDF:output>/assets/img/phone-icn.png" alt="phone"> Call Us : <AJDF:output>$footerconnect.callus</AJDF:output></li>
               		  <li><img src="<AJDF:output>$smarty.session.base_url</AJDF:output>/assets/img/mail-icn.png" alt="phone">Email :<a href="mailto:<AJDF:output>$footerconnect.email</AJDF:output>" > <AJDF:output>$footerconnect.email</AJDF:output></a></li>
               		  <li><img src="<AJDF:output>$smarty.session.base_url</AJDF:output>/assets/img/print-icn.png" alt="phone"> Fax :<AJDF:output>$footerconnect.fax</AJDF:output></li>
               		  <li><img src="<AJDF:output>$smarty.session.base_url</AJDF:output>/assets/img/map-icn.png" alt="phone"> Location : <AJDF:output>$footerconnect.location</AJDF:output></li>
                 </ul>
                </div>
            </div>
        </div>
    </div>


<AJDF:output>php</AJDF:output>
$sql="SELECT * FROM live_chat_table   WHERE id='1' AND live_chat_status='0' ";
$obj=mysql_query($sql);
$fetch_icon=mysql_fetch_array($obj);
echo $fetch_icon['live_chat_script'];
<AJDF:output>/php</AJDF:output>

    <div class="footer_inbx1" id="cpy_div">
            <div class="container">
                <div class="row-fluid">
                	<div class="span6"><p><AJDF:output>$footerconnect.footercontent </AJDF:output> </p></div>
                    <div class="span1"><!--<img src="assets/img/payment.png" alt="payment">--></div>
                  <div class="span5">
                <AJDF:output>$sociallink</AJDF:output>
                    </div>
                </div>
            </div></br>
 <AJDF:output>$headerMainMenu</AJDF:output>
        </div>
  </footer>                               

        <!-- Le javascript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script type="text/javascript" src="<AJDF:output>$smarty.session.base_url</AJDF:output>/assets/js/widgets.js"></script>
    <script src="<AJDF:output>$smarty.session.base_url</AJDF:output>/assets/js/google-code-prettify/prettify.js"></script>
    <script src="<AJDF:output>$smarty.session.base_url</AJDF:output>/assets/js/transition.js"></script>
    <script src="<AJDF:output>$smarty.session.base_url</AJDF:output>/assets/js/alert.js"></script>
    <script src="<AJDF:output>$smarty.session.base_url</AJDF:output>/assets/js/modal.js"></script>
    <script src="<AJDF:output>$smarty.session.base_url</AJDF:output>/assets/js/dropdown.js"></script>
    <script src="<AJDF:output>$smarty.session.base_url</AJDF:output>/assets/js/scrollspy.js"></script>
    <script src="<AJDF:output>$smarty.session.base_url</AJDF:output>/assets/js/tab.js"></script>
    <script src="<AJDF:output>$smarty.session.base_url</AJDF:output>/assets/js/tooltip.js"></script>
    <script src="<AJDF:output>$smarty.session.base_url</AJDF:output>/assets/js/popover.js"></script>
    <script src="<AJDF:output>$smarty.session.base_url</AJDF:output>/assets/js/button.js"></script>
    <script src="<AJDF:output>$smarty.session.base_url</AJDF:output>/assets/js/collapse.js"></script>
    <script src="<AJDF:output>$smarty.session.base_url</AJDF:output>/assets/js/carousel.js"></script>
    <script src="<AJDF:output>$smarty.session.base_url</AJDF:output>/assets/js/typeahead.js"></script>
    <script src="<AJDF:output>$smarty.session.base_url</AJDF:output>/assets/js/application.js"></script>
    <AJDF:output>if $smarty.get.do eq '' || $smarty.get.do eq 'index' || $smarty.get.do eq 'logout' </AJDF:output>
	<script type="text/javascript">
	$('.search_icn').on("click",function () {	
	var productId = $(this).data('id');
	$.ajax({
	url:'<AJDF:output>$smarty.session.base_url</AJDF:output>/index.php?do=prodetail&action=showpopupprod',
	data: 'prodid='+productId,
	type: 'GET',
	success: function (resp) {
	document.getElementById('popupproductdetails').innerHTML=resp;
	}
	});
	});
	</script>
	<AJDF:output>/if</AJDF:output>
</body>
</html>



