<AJDF:output>include file="header.html"</AJDF:output> 
  <!-- body start here-->
  	<div class="container">
    	<ul class="breadcrumb">
              <li><a href="?do=index">Home</a> <span class="divider">/</span></li>
              <li class="active"> Forgot Your Password</li>
            </ul>
            
        <div class="row-fluid">
        <AJDF:output>include file="right.html"</AJDF:output>
        	<div class="span9">
            <div class="title_fnt">
    	<h1>Forgot Your Password </h1>
        </div>
            
            	<!--My Account-->
           <div id="myaccount_div">
<form class="form-horizontal" action="?do=forgetpwd&action=retrivepwd" method="post">

<h3 class="accinfo_fnt"></h3>
            
            <div class="control-group">
              <label for="inputPassword" class="control-label">Email Address <i class="red_fnt">*</i></label>
              <div class="controls">
                <input type="password" name="email" id="email" value="<AJDF:output> $val.email </AJDF:output>"><br /><font color="#FF0000"><AJDF:output> $msg.email</AJDF:output><AJDF:output> $pwd </AJDF:output></font>
              </div>
            </div>
           
            <div class="control-group">
              <div class="controls">
                <button class="btn btn-danger" type="submit">Send My Password</button>
              </div>
            </div>
          </form>           </div>
            
        </div>
                               	
        </div>
    </div>
  
    <!-- /container -->
  <AJDF:output>include file="footer.html"</AJDF:output>