<AJDF:output>
* GNU General Public License.

* This file is part of ZeusCart V4

* ZeusCart V4 is free software: you can redistribute it and/or modify
* it under the terms of the GNU General Public License as published by
* the Free Software Foundation, either version 4 of the License, or
* (at your option) any later version.
* 
* ZeusCart V4 is distributed in the hope that it will be useful,
* but WITHOUT ANY WARRANTY; without even the implied warranty of
* MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE. See the
* GNU General Public License for more details.
* 
* You should have received a copy of the GNU General Public License
* along with Foobar. If not, see <http://www.gnu.org/licenses/>.
*
</AJDF:output>
<div id="left">
  <div class="leftmenu">
  <table width="100%" border="0" cellspacing="0" cellpadding="0">
        <tr>
          <td valign="bottom" class="roundbox1_top" ><!--<img src="images/top.gif" alt="" width="189" height="4" />--></td>
        </tr>
        <tr>
          <td valign="middle" class="border1">
		  <div class="resultTITLE borderBOT">Narrow Search</div>
		  
		  <AJDF:output>$searchoptions</AJDF:output>
		   <!--<div class="resultTITLE borderBOT">Search Criteria :<div class="resultTITLE borderBOT">Price : <span>$100</span><br /><a href="#" >Remove</a></div></div>-->
		  
		  <div class="resultLIST">
		   <AJDF:output>$pricenarrow</AJDF:output>
		   <AJDF:output>$brandnarrow</AJDF:output>
		   <AJDF:output>$narrow</AJDF:output>
		  </div>
		  </td>
        </tr>
        
        <tr>
          <td valign="top" class="roundbox1_bottom" ><!--<img src="images/bot.gif" alt="" width="189" height="4" />--> &nbsp;</td>
        </tr>
      </table>
     
    </div></div>