<AJDF:output>
* GNU General Public License.

* This file is part of ZeusCart V4

* ZeusCart V4 is free software: you can redistribute it and/or modify
* it under the terms of the GNU General Public License as published by
* the Free Software Foundation, either version 4 of the License, or
* (at your option) any later version.
* 
* ZeusCart V4 is distributed in the hope that it will be useful,
* but WITHOUT ANY WARRANTY; without even the implied warranty of
* MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE. See the
* GNU General Public License for more details.
* 
* You should have received a copy of the GNU General Public License
* along with Foobar. If not, see <http://www.gnu.org/licenses/>.
*
</AJDF:output>
<AJDF:output>include file="header.html"</AJDF:output> 
  <!-- body start here-->
  	<div class="container">
    	<ul class="breadcrumb">
              <li><a href="<AJDF:output>$smarty.session.base_url</AJDF:output>/index.php?do=index"><AJDF:output>php</AJDF:output>  echo Core_CLanguage::_('HOME'); <AJDF:output>/php</AJDF:output></a> <span class="divider">/</span></li>
<!--
               <li><a href="<AJDF:output>$smarty.session.base_url</AJDF:output>/<AJDF:output>$totcategory[0]</AJDF:output>.html"><AJDF:output>$totcategory[0]</AJDF:output></a> <span class="divider">/</span></li>
             <li > <a href="<AJDF:output>$smarty.session.base_url</AJDF:output>/<AJDF:output>$totcategory[0]</AJDF:output>/<AJDF:output>$totcategory[1]</AJDF:output>.html"><AJDF:output>$totcategory[1]</AJDF:output></a> <span class="divider">/</span></li>
		        <li><AJDF:output>$totcategory[2]</AJDF:output></li>-->
                     
<AJDF:output>$categorybreadcrumb</AJDF:output>
            </ul>
            
        <div class="row-fluid">
<span class="visible-desktop">
        	<div class="span9">
            <div class="title_fnt">

    	<h1><AJDF:output>$title</AJDF:output></h1><span class="pull-right"><a href="<AJDF:output>$smarty.session.base_url</AJDF:output>/grid/<AJDF:output>$smarty.get.cat</AJDF:output>.html" class="grid_icn"></a> <a href="<AJDF:output>$smarty.session.base_url</AJDF:output>/<AJDF:output>$smarty.get.cat</AJDF:output>.html" class="listview_icn"></a></span>
        </div>
           
                <div class="clear"></div>
                
                <AJDF:output>$viewproducts</AJDF:output>
            
            
        </div>

               <AJDF:output>include file="right.html"</AJDF:output> 
</span>  
<span class="hidden-desktop">
        	<div class="span12">
            <div class="title_fnt">
    	<h1><AJDF:output>$smarty.get.cat</AJDF:output></h1><span class="pull-right"><a href="<AJDF:output>$smarty.session.base_url</AJDF:output>/index.php?do=viewproducts&action=grid&cat=<AJDF:output>$smarty.get.cat</AJDF:output>&subcat=<AJDF:output>$smarty.get.subcat</AJDF:output>&subundercat=<AJDF:output>$smarty.get.subundercat</AJDF:output>" class="grid_icn"></a> <a href="<AJDF:output>$smarty.session.base_url</AJDF:output>/index.php?do=viewproducts&cat=<AJDF:output>$smarty.get.cat</AJDF:output>&subcat=<AJDF:output>$smarty.get.subcat</AJDF:output>&subundercat=<AJDF:output>$smarty.get.subundercat</AJDF:output>" class="listview_icn"></a></span>
        </div>
           
                <div class="clear"></div>
                
                <AJDF:output>$viewproducts</AJDF:output>
            
            
        </div>

      
</span>        	
        </div>
    </div>
  
    <!-- /container -->
   <AJDF:output>include file="footer.html"</AJDF:output>