<AJDF:output>
* GNU General Public License.

* This file is part of ZeusCart V2.3.

* ZeusCart V2.3 is free software: you can redistribute it and/or modify
* it under the terms of the GNU General Public License as published by
* the Free Software Foundation, either version 3 of the License, or
* (at your option) any later version.
* 
* ZeusCart V2.3 is distributed in the hope that it will be useful,
* but WITHOUT ANY WARRANTY; without even the implied warranty of
* MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE. See the
* GNU General Public License for more details.
* 
* You should have received a copy of the GNU General Public License
* along with Foobar. If not, see <http://www.gnu.org/licenses/>.
*
</AJDF:output>
<AJDF:output>include file="header.html"</AJDF:output> 
       
  <!-- body start here-->
  	<div class="container">
    	<ul class="breadcrumb">
              <li><a href="?do=index">Home</a> <span class="divider">/</span></li>
              <li>Product Detail</li>
            
            </ul>
            
        <div class="row-fluid">
        	<div class="span9">
           <!-- <div class="title_fnt">
    	<h1>Midi Dress With Lattice Back </h1><span class="pull-right"><a href="#" class="share_icn"></a> <a href="#" class="campare_icn"></a></span>
        </div>
            <div id="gallery_div">
                <div class="row-fluid">-->
                    <AJDF:output>$product</AJDF:output>
 
           <!-- </div>
            	<div class="clear"></div>-->
              <!--<div class="buyauc_div" style="display:block;">
             <ul class="view_div">
                        <li ><a href="javascript:showAccnt('account_id'); void(0)" class="acc_select" id="account_id1">Product Description</a></li>
                        <li ><a href="javascript:showAccnt('details_id'); void(0)" class="acc_unselect" id="details_id1">Reviews</a></li>
                       
                </ul>

      
             <div style="display:block;" id="account_id" class="prd_desc">
             <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit</p>
             
<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit...</p>
              </div>
           
             <div style="display:none;" id="details_id">
             	<ul class="reviewcmd">
                	<li><i class="icon-user"></i> James Bond on <i>21/11/2013</i> <span class="pull-right"><img src="assets/img/star.png" alt="star"> <img src="assets/img/star.png" alt="star"> <img src="assets/img/star.png" alt="star"> <img src="assets/img/star.png" alt="star"> <img src="assets/img/star-gray.png" alt="star"></span>
                    <p>This is fine and proper and I like it. :) :)</p>
                    </li>
                	<li><i class="icon-user"></i> James Bond on <i>21/11/2013</i> <span class="pull-right"><img src="assets/img/star.png" alt="star"> <img src="assets/img/star.png" alt="star"> <img src="assets/img/star.png" alt="star"> <img src="assets/img/star.png" alt="star"> <img src="assets/img/star-gray.png" alt="star"></span>
                    <p>This is fine and proper and I like it. :) :)</p>
                    </li>
                </ul>
             
                 <form class="form-horizontal">
    <div class="control-group">
    <label class="control-label" for="inputEmail">Nickname <i class="red_fnt">*</i></label>
    <div class="controls">
    <input type="text" id="inputEmail" placeholder="Email">
    </div>
    </div>
    <div class="control-group">
    <label class="control-label" for="inputPassword">Summary of Your Review <i class="red_fnt">*</i></label>
    <div class="controls">
    <input type="password" id="inputPassword" placeholder="Password">
    </div>
    </div>
    <div class="control-group">
    <label class="control-label" for="inputPassword">Review <i class="red_fnt">*</i></label>
    <div class="controls">
    <textarea rows="" cols=""></textarea>
    </div>
    </div>
    <div class="control-group">
    <label class="control-label" for="inputPassword">Rating: Bad </label>
    <div class="controls">
    <input type="radio" style="margin:0; padding:0;"> Bad <input type="radio" style="margin:0; padding:0;"> <input type="radio" style="margin:0; padding:0;"> <input type="radio" style="margin:0; padding:0;"> <input type="radio" style="margin:0; padding:0;"> Good
    </div>
    </div>
    <div class="control-group">
    <label class="control-label" for="inputEmail">Enter the code in the box below:</label>
    <div class="controls">
    <input type="text" id="inputEmail" >
    </div>
    </div>
    <div class="control-group">
   &nbsp;
    <div class="controls">
    
    <img src="assets/img/captcha.gif" alt="captcha"> </div>
    </div>
    <div class="control-group">
    <div class="controls">
        <button type="submit" class="btn btn-danger">Submit Review</button>
    </div>
    </div>
    </form>
              </div>
             </div>-->
         

            </div>
        </div>
               <AJDF:output>include file="right.html"</AJDF:output>
        </div>
    </div>
  
    <!-- /container -->
  <AJDF:output>include file="footer.html"</AJDF:output>
<script type="text/javascript">
var globVal=0;
function fun(s)
{

globVal=0;
	for (var i=1;i<=s;i++)
	{
	document.frm["img"+i].src="assets/img/star.png";
	}
	document.frm.hidRate.value=s;
}


function fun1(s)
{
if(globVal==0)
{
	for (var i=1;i<=5;i++)
	{
	document.frm["img"+i].src="assets/img/star-gray.png";
	}
	document.frm.hidRate.value="";
}
}

function fun2(s)
{
globVal=1;
	for (var i=1;i<=s;i++)
	{
	document.frm["img"+i].src="assets/img/star.png";
	}

}

var presh = -1
function shuffle()
{
		curr = Math.ceil(Math.random()*100);
	document.getElementById('captcha').src="?do=captcha&"+ (curr==presh ? Math.ceil(Math.random()*100) : curr);				
		presh = curr;

}
</script>
<AJDF:output>if $smarty.session.reviewResult ne ''</AJDF:output>
<script type="text/javascript">
document.getElementById('details_id').style.display="block";
</script>
<AJDF:output>/if</AJDF:output>

