<AJDF:output>
* GNU General Public License.

* This file is part of ZeusCart V4

* ZeusCart V4 is free software: you can redistribute it and/or modify
* it under the terms of the GNU General Public License as published by
* the Free Software Foundation, either version 4 of the License, or
* (at your option) any later version.
* 
* ZeusCart V4 is distributed in the hope that it will be useful,
* but WITHOUT ANY WARRANTY; without even the implied warranty of
* MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE. See the
* GNU General Public License for more details.
* 
* You should have received a copy of the GNU General Public License
* along with Foobar. If not, see <http://www.gnu.org/licenses/>.
*
</AJDF:output>
<AJDF:output>include file="left.html"</AJDF:output>
     

     <div id="middle">
<!--<div id="middle_details">-->

<table><tr><td class="ad_text"><a href="#">Home</a> > <a href="#">Consumer & Durables</a> > <a href="#">Mobiles</a> > Sony Ericson w200i </td>
</tr></table>
<div id="product_tbbg_details">
	<table width="100%" border="0" cellpadding="0" cellspacing="0">
    <tr>
      <td colspan="3" class="product_header">Sony Ericsson W200i</td>
    </tr>
    <tr>
      <td colspan="3" >&nbsp;</td>
    </tr>
    <tr>
      <td colspan="3" ><table width="95%" border="0" align="center" cellpadding="0" cellspacing="0">
        <tr>
          <td width="32%"><img src="images/pro_detail_1.jpg" width="95" height="119" /></td>
          <td width="37%"><table width="95%" border="0" align="center" cellpadding="2" cellspacing="2">
            
            <tr>
              <td class="text"><a href="#">Sony VAIO
                
                Model : VGN-
                TXN27N/B 11.1&quot; 
                Notebook PC<br />
              Brand : Sony<br />
              Model : 
VGN-
                TXN27N/B 11.1&quot; 
                Notebook </a></td>
            </tr>
            <tr>
              <td align="left" class="rate_text">MRP  1900-2000</td>
            </tr>
            <tr>
              <td align="left"><img src="images/star3.jpg" width="83" height="16" /></td>
            </tr>
            <tr>
              <td align="left" class="text"><a href="#">Reviews </a>l <a href="#">Add Your Reviews</a></td>
            </tr>
            <tr>
              <td align="left"><img src="css/default/images/addtocart.jpg" /></td>
            </tr>
            <tr>
              <td align="left" class="addtowishlist"><a href="#">Add to Wishlist</a> </td>
            </tr>
            <tr>
              <td align="left" class="addtocompare"><a href="#">Add to Compare</a></td>
            </tr>
            
          </table></td>
          <td width="31%" align="center" class="addtocompare"><img src="css/default/images/compareprice.jpg" /></td>
        </tr>
        <tr>
          <td><a href="#" class="ad_text">VIEW LARGE IMAGE </a></td>
          <td>&nbsp;</td>
          <td>&nbsp;</td>
        </tr>
      </table></td>
    </tr>
    <tr>
      <td colspan="3" >&nbsp;</td>
    </tr>
    <tr>
      <td colspan="3" ><div id="ad_text"><a href="#" class="ad_text"></a></div></td>
      </tr>
 
    <tr>
      <td colspan="3" class="product_header" >Product Overview</td>
    </tr>
    <tr>
      <td colspan="3" >&nbsp;</td>
    </tr>
    <tr>
      <td colspan="3" class="page_text" >The W200i follows a long tradition of beautifully designed and crafted phones from <br />
        Sony Ericsson. The same candy-bar style that graced the W200 is here.</td>
    </tr>
    <tr>
      <td colspan="3" >&nbsp;</td>
    </tr>
    <tr>
      <td colspan="3" class="product_header" >Product Description</td>
    </tr>
    <tr>
      <td colspan="3" >&nbsp;</td>
    </tr>
    <tr>
      <td colspan="3" class="page_text" ><strong>A Walkman&reg; phone for everyone</strong><br />
        Bring your music. With the W200i Walkman&reg; phone, you always have one-press instant <br />
        access to your favourite tracks.</td>
    </tr>
    <tr>
      <td colspan="3" >&nbsp;</td>
    </tr>
    <tr>
      <td colspan="3" class="page_text" ><strong>Let the music play</strong><br />
        Write emails, browse the Web - and do it to the sound of your music. Just keep your <br />
        Walkman&reg; player or FM Radio tuned in and turned on.</td>
    </tr>
    <tr>
      <td colspan="3" >&nbsp;</td>
    </tr>
    <tr>
      <td height="38" colspan="3" class="page_text" ><strong>Take pictures - and use them</strong><br />
        Snap pictures with the VGA camera. Enjoy them on the ultra-bright colour screen - or <br />
        share them with friends via MMS or email.</td>
    </tr>
    <tr>
      <td colspan="3" >&nbsp;</td>
    </tr>
    <tr>
      <td width="3%" >&nbsp;</td>
      <td width="94%" ><table width="100%" align="center" cellspacing="0" class="data-table" id="product-attribute-specs-table">
        <tbody>
          <tr class="odd first">
            <td class="label">Model</td>
            <td class="data last">Sony Ericson w200i </td>
          </tr>
          <tr class="even">
            <td class="label">Manufacturer</td>
            <td class="data last">Sony</td>
          </tr>
          <tr class="odd">
            <td class="label">Sizes</td>
            <td class="data last">101X44X18 mm/ 3.9X1.7X0.7 inches </td>
          </tr>
          <tr class="even">
            <td class="label">weight</td>
            <td class="data last">85 g / 3 oz </td>
          </tr>
          <tr class="odd">
            <td class="label">Available Colors </td>
            <td class="data last">Rythm Black<br />
              Pulse White </td>
          </tr>
          <tr class="even">
            <td class="label">Screen</td>
            <td class="data last">128X160 Pixel </td>
          </tr>
          <tr class="odd">
            <td class="label">Network</td>
            <td class="data last">GSM 900<br />
              GSM 1800 </td>
          </tr>
          <tr class="even">
            <td class="label">Memory</td>
            <td class="data last">27MB Phone Memory </td>
          </tr>
          <tr class="odd">
            <td class="label">Camera</td>
            <td class="data last">0.3 Maga pixel VGA <br />
              Digital Zoom </td>
          </tr>
          <tr class="even">
            <td class="label">&nbsp;</td>
            <td class="data last">usic </td>
          </tr>
          <tr class="even">
            <td class="label">Music</td>
            <td class="data last">Media Player<br />
              Music Tones </td>
          </tr>
        </tbody>
      </table></td>
      <td width="3%" >&nbsp;</td>
    </tr>
    <tr>
      <td colspan="3" >&nbsp;</td>
    </tr>
  </table>
</div>
<span class="head_text"><br />
Related Products</span>
<br />
<div id="middle_details">
<div id="product_tbbg_details">
  <table width="100%" border="0" cellpadding="0" cellspacing="0">
    <tr>
      <td class="product_tbbg1"><table width="95%" border="0" align="center" cellpadding="2" cellspacing="2">
        <tr>
          <td align="center"><img src="images/pro_15.jpg" width="90" height="67" /></td>
        </tr>
        <tr>
          <td class="text"><a href="#">Sony VAIO VGN-
            TXN27N/B 11.1&quot; 
            Notebook PC</a></td>
        </tr>
        <tr>
          <td align="left" class="rate_text">MRP  1900-2000</td>
        </tr>
        <tr>
          <td align="left"><img src="css/default/images/addtocart.jpg" /></td>
        </tr>
        <tr>
          <td align="left" class="addtowishlist"><a href="#">Add to Wishlist</a> </td>
        </tr>
        <tr>
          <td align="left" class="addtocompare"><a href="#">Add to Compare</a></td>
        </tr>
        <tr>
          <td align="left" class="addtocompare"><img src="css/default/images/compareprice.jpg" /></td>
        </tr>
      </table></td>
      <td class="product_tbbg1"><table width="95%" border="0" align="center" cellpadding="2" cellspacing="2">
        <tr>
          <td align="center"><img src="images/pro_16.jpg" width="90" height="67" /></td>
        </tr>
        <tr>
          <td class="text"><a href="#">Sony VAIO VGN-
            TXN27N/B 11.1&quot; 
            Notebook PC</a></td>
        </tr>
        <tr>
          <td align="left" class="rate_text">MRP  1900-2000</td>
        </tr>
        <tr>
          <td align="left"><img src="css/default/images/addtocart.jpg" /></td>
        </tr>
        <tr>
          <td align="left" class="addtowishlist"><a href="#">Add to Wishlist</a> </td>
        </tr>
        <tr>
          <td align="left" class="addtocompare"><a href="#">Add to Compare</a></td>
        </tr>
        <tr>
          <td align="left" class="addtocompare"><img src="css/default/images/compareprice.jpg" /></td>
        </tr>
      </table></td>
      <td class="product_tbbg1"><table width="95%" border="0" align="center" cellpadding="2" cellspacing="2">
        <tr>
          <td align="center"><img src="images/pro_17.jpg" width="90" height="67" /></td>
        </tr>
        <tr>
          <td class="text"><a href="#">Sony VAIO VGN-
            TXN27N/B 11.1&quot; 
            Notebook PC</a></td>
        </tr>
        <tr>
          <td align="left" class="rate_text">MRP  1900-2000</td>
        </tr>
        <tr>
          <td align="left"><img src="css/default/images/addtocart.jpg" /></td>
        </tr>
        <tr>
          <td align="left" class="addtowishlist"><a href="#">Add to Wishlist</a> </td>
        </tr>
        <tr>
          <td align="left" class="addtocompare"><a href="#">Add to Compare</a></td>
        </tr>
        <tr>
          <td align="left" class="addtocompare"><img src="css/default/images/compareprice.jpg" /></td>
        </tr>
      </table></td>
    </tr>
  </table>
  </div>
</div>
</div>

<div id="right">
<div id="viewcart">
<div id="viewcart_tit">VIEW CART </div>
<div id="text">
  <table width="95%" border="0" align="center" cellpadding="0" cellspacing="0">
    <tr>
      <td class="text">There is <a href="#">1 item</a> in your cart.
Cart Subtotal:  5629</td>
    </tr>
  </table>
</div>
</div>
<div id="compare_bar"><img src="css/default/images/checkout.jpg" width="77" height="19" /></div>
<div id="viewcart">
<div id="compare_tit">COMPARE PRODUCTS  </div>
<table width="100%" border="0" cellspacing="0" cellpadding="0">
  <tr>
    <td class="text"><table width="100%" border="0" cellspacing="0" cellpadding="0">
      <tr>
        <td width="84%"><a href="#">Sony Ericsson W200i</a> <a href="#"></a></td>
        <td width="16%"><a href="#"><img src="css/default/images/remove.jpg" width="12" height="11" border="0" /></a></td>
      </tr>
      <tr>
        <td><a href="#">Nokia Express Music</a><a href="#"></a><br />
          <a>5310</a></td>
        <td><a href="#"><img src="css/default/images/remove.jpg" width="12" height="11" border="0" /></a></td>
      </tr>
    </table></td>
  </tr>
</table>
</div>
<div id="compare_bar">
  <table width="100%" border="0" cellspacing="0" cellpadding="0">
    <tr>
      <td width="61%"><a href="#">Clear All </a> <a href="#"></a></td>
      <td width="39%"><a href="#">Compare</a></td>
    </tr>
  </table>
</div>

<div id="new_items">
<div id="new_items_tit">NEW PRODUCTS</div>
<table width="95%" border="0" align="center" cellpadding="0" cellspacing="0">
  <tr>
    <td width="32%"><img src="images/p_1.jpg" width="45" height="45" /></td>
    <td width="68%"><table width="95%" border="0" align="center" cellpadding="2" cellspacing="2">
      <tr>
        <td class="text"><a href="#">Sony VAIO VGN-
          TXN27N/B 11.1&quot; 
          Notebook PC</a></td>
      </tr>
      <tr>
        <td align="left" class="rate_text">MRP  1900-2000</td>
      </tr>
      <tr>
        <td align="left"><img src="css/default/images/addtocart.jpg" /></td>
      </tr>
      <tr>
        <td align="left" class="addtowishlist"><a href="#">Add to Wishlist</a> </td>
      </tr>
      <tr>
        <td align="left" class="addtocompare"><a href="#">Add to Compare</a></td>
      </tr>
      
    </table></td>
  </tr>
  <tr>
    <td colspan="2" class="line"></td>
    </tr>
  <tr>
    <td><img src="images/p_1.jpg" width="45" height="45" /></td>
    <td><table width="95%" border="0" align="center" cellpadding="2" cellspacing="2">
      <tr>
        <td class="text"><a href="#">Sony VAIO VGN-
          TXN27N/B 11.1&quot; 
          Notebook PC</a></td>
      </tr>
      <tr>
        <td align="left" class="rate_text">MRP  1900-2000</td>
      </tr>
      <tr>
        <td align="left"><img src="css/default/images/addtocart.jpg" /></td>
      </tr>
      <tr>
        <td align="left" class="addtowishlist"><a href="#">Add to Wishlist</a> </td>
      </tr>
      <tr>
        <td align="left" class="addtocompare"><a href="#">Add to Compare</a></td>
      </tr>
    </table></td>
  </tr>
  <tr>
    <td>&nbsp;</td>
    <td>&nbsp;</td>
  </tr>
</table>
</div>
</div>
</div>
<div id="container_1">
<div id="ad">
  <table width="98%" border="0" align="center" cellpadding="1" cellspacing="1">
    <tr>
      <td width="25%" class="ad_head">Online Shopping Mall</td>
      <td width="25%"><span class="ad_head">Online Shopping Mall</span></td>
      <td width="25%"><span class="ad_head">Online Shopping Mall</span></td>
      <td width="25%"><span class="ad_head">Online Shopping Mall</span></td>
    </tr>
    <tr>
      <td class="ad_text"><a href="#">Buy Apparels</a>, <a href="#">Electronics</a>, 
      <br />
&amp; <a href="#">More</a>! <a href="#">Shop Now</a>.</td>
      <td><span class="ad_text"><a href="#">Buy Apparels</a>, <a href="#">Electronics</a>, 
      <br />
&amp; <a href="#">More</a>! <a href="#">Shop Now</a>.</span></td>
      <td><span class="ad_text"><a href="#">Buy Apparels</a>, <a href="#">Electronics</a>, 
      <br />
&amp; <a href="#">More</a>! <a href="#">Shop Now</a>.</span></td>
      <td><span class="ad_text"><a href="#">Buy Apparels</a>, <a href="#">Electronics</a>, 
      <br />
&amp; <a href="#">More</a>! <a href="#">Shop Now</a>.</span></td>
    </tr>
    <tr>
      <td><a href="#" class="ad_link">FutureBazaar.com/Online_Shop</a></td>
      <td><a href="#" class="ad_link">FutureBazaar.com/Online_Shop</a></td>
      <td><a href="#" class="ad_link">FutureBazaar.com/Online_Shop</a></td>
      <td><a href="#" class="ad_link">FutureBazaar.com/Online_Shop</a></td>
    </tr>
    <tr>
      <td><img src="css/default/images/adarr.jpg" width="13" height="12" /><img src="css/default/images/adarr_1.jpg" width="13" height="12" /></td>
      <td>&nbsp;</td>
      <td>&nbsp;</td>
      <td align="right"><img src="css/default/images/adsbygoogle.jpg" width="70" height="15" /></td>
    </tr>
  </table>
</div><br>
<div id="btm_links">
  <table width="95%" border="0" align="center" cellpadding="0" cellspacing="0">
    <tr>
      <td width="25%" class="link_header">My Account </td>
      <td width="25%" class="link_header">Terms &amp; Policy </td>
      <td width="25%" class="link_header">Inquiry</td>
      <td width="25%" class="link_header">Help</td>
    </tr>
    <tr>
      <td class="link_text">My Profile </td>
      <td class="link_text">Terms &amp; Condition </td>
      <td class="link_text">Contact</td>
      <td class="link_text">How to register? </td>
    </tr>
    <tr>
      <td class="link_text">My Wishlist </td>
      <td class="link_text">Privacy Policy </td>
      <td class="link_text">Customer Service </td>
      <td class="link_text">How to Place an Order ? </td>
    </tr>
  </table>
</div>
</div>
</div>

<div id="footer">
	    <table width="95%" border="0" align="center" cellpadding="0" cellspacing="0">
          <tr>
            <td>&nbsp;</td>
            <td>&nbsp;</td>
            <td>&nbsp;</td>
            <td>&nbsp;</td>
          </tr>
          <tr>
            <td width="52%">&nbsp;</td>
            <td width="7%">&nbsp;</td>
            <td width="16%">&nbsp;</td>
            <td width="25%">&nbsp;</td>
          </tr>
          <tr>
            <td class="btm_text_links"><a href="#">Home</a> | <a href="#">Support</a> | <a href="#">Site Map</a> | <a href="#">Terms And Conditions</a> | <a href="#">Privacy Policy</a></td>
            <td>&nbsp;</td>
            <td>&nbsp;</td>
            <td><img src="css/default/images/bookmark.jpg" width="125" height="16" /></td>
          </tr>
          <tr>
            <td>&nbsp;</td>
            <td>&nbsp;</td>
            <td>&nbsp;</td>
            <td>&nbsp;</td>
          </tr>
          <tr>
            <td class="btm_text_links">All Rights Reserved. Zeuscart.com</td>
            <td>&nbsp;</td>
            <td>&nbsp;</td>
            <td><img src="css/default/images/paypal.jpg" width="240" height="20" /></td>
          </tr>
        </table>
	  </div>


</div>
</body>
</html>
