<AJDF:output>
* GNU General Public License.

* This file is part of ZeusCart V4

* ZeusCart V4 is free software: you can redistribute it and/or modify
* it under the terms of the GNU General Public License as published by
* the Free Software Foundation, either version 4 of the License, or
* (at your option) any later version.
* 
* ZeusCart V4 is distributed in the hope that it will be useful,
* but WITHOUT ANY WARRANTY; without even the implied warranty of
* MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE. See the
* GNU General Public License for more details.
* 
* You should have received a copy of the GNU General Public License
* along with Foobar. If not, see <http://www.gnu.org/licenses/>.
*
</AJDF:output>
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />

<title>Quick Information</title>
<link rel="stylesheet" href="css/<AJDF:output>$skinname</AJDF:output>/styles.css" type="text/css" />
</head>
<script type="text/javascript">
</script>
<body>
       <div style="padding-left:10px;"><AJDF:output>$result</AJDF:output></div>
</body>
</html>