<AJDF:output>
* GNU General Public License.

* This file is part of ZeusCart V4

* ZeusCart V4 is free software: you can redistribute it and/or modify
* it under the terms of the GNU General Public License as published by
* the Free Software Foundation, either version 4 of the License, or
* (at your option) any later version.
* 
* ZeusCart V4 is distributed in the hope that it will be useful,
* but WITHOUT ANY WARRANTY; without even the implied warranty of
* MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE. See the
* GNU General Public License for more details.
* 
* You should have received a copy of the GNU General Public License
* along with Foobar. If not, see <http://www.gnu.org/licenses/>.
*
</AJDF:output>
<AJDF:output>include file="header.html"</AJDF:output>
<!--Body Part Ends-->
<div id="body_container">
<div id="main">
<div id="left">
  <div class="leftmenu">
      <table width="100%" border="0" cellspacing="0" cellpadding="0">
        <tr>
          <td><div class="heading"><span class="headingTXT">Recently Viewed</span></div></td>
        </tr>
        <tr>
          <td valign="top" class="border1" style="padding:7px">
		  
			
			
			<AJDF:output>$lastviewedproducts</AJDF:output>
			</td>
        </tr>
        <tr>
          <td valign="top" class="roundbox1_bottom" ><!--<img src="css/default/images/bot.gif" alt="" width="189" height="4" />-->&nbsp;</td>
        </tr>
      </table>
    </div>
    <div style="margin-top:14px" class="leftmenu">
      <table width="100%" border="0" cellspacing="0" cellpadding="0">
        <tr>
          <td valign="bottom" class="roundbox1_top" ><!--<img src="css/default/images/top.gif" alt="" width="189" height="4" />--></td>
        </tr>
        <tr>
          <td class="border1" style="padding:7px">
          <div class="tags">Popular Tags</div>
          <div class="tagsLNK"><a href="#">Camera</a> <a href="#">Hohoho</a> <a href="#">Nice</a> <a href="#" style="font-size:12px; font-weight:bold">SEXY</a> <a href="#">apple</a> <a href="#">bones</a> <a href="#" style="font-size:12px; font-weight:bold">cool</a> <a href="#">crap</a> <a href="#">good</a> <a href="#">green</a> <a href="#">hip</a> <a href="#">laptop</a> <a href="#">modern</a> <a href="#" style="font-size:12px; font-weight:bold">notebook</a> <a href="#">Camera</a> <a href="#">Hohoho</a> <a href="#">Nice</a> <a href="#" style="font-size:12px; font-weight:bold">SEXY</a> <a href="#">apple</a> <a href="#">bones</a> <a href="#" style="font-size:12px; font-weight:bold">cool</a> <a href="#">crap</a> <a href="#">good</a> <a href="#">green</a> <a href="#">hip</a> <a href="#">laptop</a> <a href="#">modern</a> <a href="#" style="font-size:12px; font-weight:bold">notebook</a></div>          </td>
        </tr>
        
        <tr>
          <td valign="top" class="roundbox1_bottom" ><!--<img src="css/default/images/bot.gif" alt="" width="189" height="4" />-->&nbsp;</td>
        </tr>
      </table>
    </div></div>
	<!--<div id="detail">
	<table width="100%" border="0" cellspacing="0" cellpadding="0">
  <tr>
    <td class="roundbox_top" ></td>
  </tr>
  <tr>
    <td valign="top" class="detailBG">
	<div>
	<div class="serachresult">Your Shopping Cart</div>
	<div style="height:10px;"></div>
	<table width="100%" border="0" cellpadding="0" cellspacing="1" bgcolor="#cac7c7">
  <tr>
    <td width="8%" bgcolor="#FFFFFF" class="viewcartTITLE">&nbsp;</td>
    <td width="50%" bgcolor="#FFFFFF" class="viewcartTITLE" style="padding-left:15px;">Product Name</td>
    <td width="16%" align="center" bgcolor="#FFFFFF" class="viewcartTITLE" >Unit Price</td>
    <td width="10%" align="center" bgcolor="#FFFFFF" class="viewcartTITLE" >Qty</td>
    <td width="16%" align="center" bgcolor="#FFFFFF" class="viewcartTITLE">Sub Total</td>
  </tr>
  
  <tr>
    <td colspan="6" align="center" bgcolor="#FFFFFF" style="padding:15px 0px"><table width="100%" border="0" cellpadding="0" cellspacing="0">
      <tr>
        <td width="46" align="center"><img src="css/default/images/bullet.jpg" alt="bullet" width="14" height="14" /></td>
        <td width="71" align="right"><img src="css/default/images/cart_item.jpg" alt="" width="52" height="52" /></td>
        <td width="249" align="center" class="viewcartTXT1">Samsung 8.1MP Digital Camera - 
          Black (S860)</td>
        <td width="97" align="center" class="viewcart_price"><span>$99.99</span><br />
$88.99</td>
        <td width="65" align="center"><select name="select2" class="txtbox1 TxtC1">
          <option>1</option>
          <option>2</option>
          <option>3</option>
          <option>10</option>
                        </select></td>
        <td width="96" align="center" class="viewcart_price">$88.99</td>
      </tr>
    </table></td>
    </tr>
  <tr>
    <td colspan="6" align="center" bgcolor="#FFFFFF" style="padding:15px 0px"><table width="100%" border="0" cellpadding="0" cellspacing="0">
      <tr>
        <td width="46" align="center"><img src="css/default/images/bullet.jpg" alt="bullet" width="14" height="14" /></td>
        <td width="71" align="right"><img src="css/default/images/cart_item.jpg" alt="" width="52" height="52" /></td>
        <td width="249" align="center" class="viewcartTXT1">Samsung 8.1MP Digital Camera - 
          Black (S860)</td>
        <td width="97" align="center" class="viewcart_price"><span>$99.99</span><br />
          $88.99</td>
        <td width="65" align="center"><select name="select3" class="txtbox1 TxtC1">
            <option>1</option>
            <option>2</option>
            <option>3</option>
            <option>10</option>
        </select></td>
        <td width="96" align="center" class="viewcart_price">$88.99</td>
      </tr>
    </table></td>
  </tr>
  <tr>
    <td colspan="6" align="center" bgcolor="#FFFFFF" style="padding:15px 0px"><table width="100%" border="0" cellpadding="0" cellspacing="0">
      <tr>
        <td width="46" align="center"><img src="css/default/images/bullet.jpg" alt="bullet" width="14" height="14" /></td>
        <td width="71" align="right"><img src="css/default/images/cart_item.jpg" alt="" width="52" height="52" /></td>
        <td width="249" align="center" class="viewcartTXT1">Samsung 8.1MP Digital Camera - 
          Black (S860)</td>
        <td width="97" align="center" class="viewcart_price"><span>$99.99</span><br />
          $88.99</td>
        <td width="65" align="center"><select name="select4" class="txtbox1 TxtC1">
            <option>1</option>
            <option>2</option>
            <option>3</option>
            <option>10</option>
        </select></td>
        <td width="96" align="center" class="viewcart_price">$88.99</td>
      </tr>
    </table></td>
  </tr>
  <tr>
    <td colspan="6" align="center" style="padding:20px 0px 0px 0px; background:url(css/default/images/viewcart_bg.jpg) repeat-x top"><table width="100%" border="0" cellpadding="0" cellspacing="0" bgcolor="#f5f5f5">
      <tr>
        <td width="23%" style="padding-left:10px;"><table border="0" cellspacing="0" cellpadding="0">
          <tr>
            <td align="right" class="button_left">
            </td>
            <td align="left"><input type="submit" name="Submit" value="Continue Shopping" class="button" /></td>
            <td class="button_right"></td>
          </tr>
          
        </table></td>
        <td width="35%" align="left" style="padding-left:10px;"><table border="0" cellspacing="0" cellpadding="0">
          <tr>
            <td align="right" class="button_left"></td>
            <td><input type="submit" name="Submit2" value="Update Cart" class="button" /></td>
            <td class="button_right" ></td>
          </tr>
        </table></td>
        <td width="27%" class="viewcartTXT2">Total</td>
        <td width="15%" align="center" class="viewcart_total">$199.98</td>
      </tr>
      <tr>
        <td>&nbsp;</td>
        <td>&nbsp;</td>
        <td class="viewcartTXT2">Shipping Amount </td>
        <td align="center" class="viewcart_price">Free</td>
      </tr>
      <tr>
        <td>&nbsp;</td>
        <td>&nbsp;</td>
        <td class="viewcartTXT2">Grand Total</td>
        <td align="center" class="viewcart_total">$199.98</td>
      </tr>
      <tr>
        <td>&nbsp;</td>
        <td>&nbsp;</td>
        <td class="viewcartTXT2">&nbsp;</td>
        <td align="center" class="viewcart_total">&nbsp;</td>
      </tr>
    </table></td>
  </tr>
</table>
<br />
<div style="height:10px;"></div>
<div><table width="100%" border="0" cellspacing="0" cellpadding="0">
  <tr>
    <td width="50%" valign="top">
	<div class="viewcart_couponBox">
	<table width="100%" border="0" cellspacing="0" cellpadding="0">
  <tr>
    <td class="viewcart_coupontitle"><strong>Coupon Code</strong></td>
  </tr>
  <tr>
    <td class="viewcart_couponTXT" style="padding-bottom:10px">If you have a coupon code enter it in the box below and click 'Go'.</td>
  </tr>
  <tr>
    <td><input type="text" name="textfield2" class="txtbox1 w2 TxtC1" />
      <label>
      <input type="submit" name="Submit3" value="Go" class="gobutton" />
      </label></td>
  </tr>
</table>

	</div>
	</td>
    <td width="50%">
	<div class="viewcart_checkoutBox">
	<table width="100%" border="0" cellspacing="0" cellpadding="0">
  
  <tr>
    <td width="50%" align="right" class="viewcart_total1">Sub Total :</td>
    <td width="50%" align="left" class="viewcart_total1">$199.98</td>
  </tr>
  <tr>
    <td align="right" class="viewcart_total1">Grand Total : </td>
    <td align="left" class="viewcart_total1">$199.98</td>
  </tr>
  <tr>
    <td colspan="2" align="center" style="padding-top:10px;"><table border="0" cellspacing="0" cellpadding="0">
      <tr>
        <td align="right"><img src="css/default/images/button1_left.jpg" alt="button" width="9" height="32" /></td>
        <td><input type="submit" name="Submit22" value="Continue Shopping" class="button1" /></td>
        <td><img src="css/default/images/button1_right.jpg" alt="button" width="9" height="32" /></td>
      </tr>
    </table></td>
    </tr>
</table>

	</div>
	</td>
  </tr>
</table>

</div>

	</div>
	</td>
  </tr>
  <tr>
    <td class="roundbox_bottom" ></td>
  </tr>
</table>
</div>--><AJDF:output>$showcart</AJDF:output></div>
<div id="curve">
<table width="100%" border="0" cellspacing="0" cellpadding="0">
  <tr>
    <td align="left" valign="top" class="round_left" ><!--<img src="css/default/images/curve_L.gif" alt="" width="8" height="9" />--></td>
    <td></td>
    <td align="right" valign="top" class="round_right" ><!--<img src="css/default/images/curve_R.gif" alt="" width="7" height="9" />--></td>
  </tr>
</table>
</div>
</div>

<!--Body Part Ends-->
<!--Footer-->
<AJDF:output>include file="footer.html"</AJDF:output>
<script type="text/javascript" language="javascript">
function call()
{
	//alert('hi');
	window.location= "?do=indexpage";
	//document.cart.action="?do=addtocart&action=update";
	//document.cart.submit();
}

</script>