<AJDF:output>
* GNU General Public License.

* This file is part of ZeusCart V4

* ZeusCart V4 is free software: you can redistribute it and/or modify
* it under the terms of the GNU General Public License as published by
* the Free Software Foundation, either version 4 of the License, or
* (at your option) any later version.
* 
* ZeusCart V4 is distributed in the hope that it will be useful,
* but WITHOUT ANY WARRANTY; without even the implied warranty of
* MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE. See the
* GNU General Public License for more details.
* 
* You should have received a copy of the GNU General Public License
* along with Foobar. If not, see <http://www.gnu.org/licenses/>.
*
</AJDF:output><AJDF:output>include file="header.html"</AJDF:output>
<div id="body_container">
<div id="main" >
<AJDF:output>include file="left_narrow.html"</AJDF:output>
<div id="center">
	<AJDF:output>$maincatbreadcrumb</AJDF:output>
	<AJDF:output>$subcatbreadcrumb</AJDF:output></br>	 
<AJDF:output>$maincatlanding</AJDF:output>
	<div class="quickview_border" >
	<div class="heading1"><span class="headingTXT">Search Result </span></div>
		<AJDF:output>$viewproducts</AJDF:output>
	</div>
	  
	
</div>
<AJDF:output>include file="right.html"</AJDF:output>
</div>
<div id="curve">
<table width="100%" border="0" cellspacing="0" cellpadding="0">
  <tr>
    <td align="left" valign="top" class="round_left" > <!--<img src="css/default/images/curve_L.gif" alt="" width="8" height="9" />--></td>
    <td></td>
    <td align="right" valign="top" class="round_right" ><!--<img src="css/default/images/curve_R.gif" alt="" width="7" height="9" />--></td>
  </tr>
</table>
</div>
</div>
<AJDF:output>include file="footer.html"</AJDF:output>

  