<AJDF:output>
* GNU General Public License.

* This file is part of ZeusCart V4

* ZeusCart V4 is free software: you can redistribute it and/or modify
* it under the terms of the GNU General Public License as published by
* the Free Software Foundation, either version 4 of the License, or
* (at your option) any later version.
* 
* ZeusCart V4 is distributed in the hope that it will be useful,
* but WITHOUT ANY WARRANTY; without even the implied warranty of
* MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE. See the
* GNU General Public License for more details.
* 
* You should have received a copy of the GNU General Public License
* along with Foobar. If not, see <http://www.gnu.org/licenses/>.
*
</AJDF:output>
  <AJDF:output>include file="header.html"</AJDF:output>
        
  <!-- body start here-->
  	<div class="container">
    	<ul class="breadcrumb">
              <li><a href="<AJDF:output>$smarty.session.base_url</AJDF:output>/index.php?do=index">Home</a> <span class="divider">/</span></li>
              <li class="active"> Payment Success </li>
            </ul>
       
        <div class="row-fluid">
<div class="title_fnt">
    	<h1>Payment Success </h1>
        </div>
         <form class="form-horizontal">
                <fieldset>
		<div>
                       <AJDF:output>$success</AJDF:output>
              
                  </div>
</fieldset>
</form>

                </div>
    </div>
  
    <!-- /container -->
  <AJDF:output>include file="footer.html"</AJDF:output>
